<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">新增</h4>
        </div>
        <form id="sys_dlg_form" role="form">
        <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">

                        <div class="panel-body">
                            <div class="heng">
                                            <div class="form-group_l">
                                                <label>系统名称</label>
                                                <input id="application_name" name="application_name" type="text" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>密级</label>
                                                <select name="application_secret" id="application_secret" class="form-control" style="margin-bottom: -5px;width:65%;">
                                                    <option value=''>--请选择--</option>
                                                    <foreach name="ds_miji" item="vo">
                                                        <option value="{$vo.d_dictname}" >{$vo.d_dictname}</option>
                                                    </foreach>
                                                </select>
                                            </div>
                                            <div class="form-group_l">
                                                <label>信息资源</label>
                                                <input id="application_info" name="application_info" type="text" class="form-control">
                                            </div>
                                            <div class="form-group_r">
                                                <label>安装位置</label>
                                                <input id="application_host" name="application_host" type="text" class="form-control">
                                            </div>
                                        </div>
                            <div class="heng">
                                <div class="form-group_l">
                                    <label>存放方式</label>
                                    <input id="application_mode" name="application_mode" type="text" class="form-control">
                                </div>
                                <div class="form-group_l">
                                    <label>用途</label>
                                    <input id="application_usage" name="application_usage" type="text" class="form-control">
                                </div>
                                <div class="form-group_r">
                                    <label>用户范围</label>
                                    <input id="application_userscope" name="application_userscope" type="text" class="form-control">
                                </div>
                                <div class="form-group_r">
                                    <label>访问方式</label>
                                    <input id="application_usemode" name="application_usemode" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="heng">
                                <div class="form-group_r">
                                    <label>管理员鉴别方式</label>
                                    <input id="application_aloginmode" name="application_aloginmode" type="text" class="form-control">
                                </div>
                                <div class="form-group_r">
                                    <label>普通用户鉴别方式</label>
                                    <input id="application_loginmode" name="application_loginmode" type="text" class="form-control">
                                </div>
                                <div class="form-group_r">
                                    <label>访问权限</label>
                                    <input id="application_accessauthority" name="application_accessauthority" type="text" class="form-control">
                                </div>
                                <div class="form-group_r">
                                    <label>开发单位</label>
                                    <input id="application_developer" name="application_developer" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <input type="submit" id="sys_dlg_submit" value="保存" class="btn btn-primary" />
            <!--<button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">保存</button>-->
        </div>
        </form>
    </div>
</div>

<!--<link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLICOLD__/vendor/tabs/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">-->
<!--<link href="__PUBLICOLD__/vendor/tabs/css/font-awesome.css?v=4.4.0" rel="stylesheet">-->
<!--<link href="__PUBLICOLD__/vendor/tabs/css/animate.css" rel="stylesheet">-->
<!--<link href="__PUBLICOLD__/vendor/tabs/css/style.css?v=4.0.0" rel="stylesheet"> -->
<style type="text/css">
    .modal-dialog{width: 94%;height: 80%;}
    .col-sm-6{width:100%;}
    .heng{width:100%;height: 50px;}
    .form-group_heng{width:100%;height: 50px;}
    .form-group_l{width:25%;float: left;}
    .form-group_r{width:25%;float: left;}
    .form-group_r label{width:25%;float: left;margin-top: 7px;}
    .form-group_l label{width:25%;float: left;margin-top: 7px;}
    /*.heng div label{width:20%;float: left;margin-top: 7px;}*/
    .form-control{width:65%;}
    .form-group_21{width:33.3%;float:left;}
    .form-group_22{width:33.3%;float:left;}
    .form-group_23{width:33.3%;float:left;}
    .fengetitle{height: 40px;margin-bottom: 10px;font-size: 20px;font-family: 微软雅黑;text-align: center;line-height: 40px;width: 60%;margin-left: 20%;border-bottom: 1px solid #cdcdcd;}
</style>

<script type="text/javascript">
    $(document).ready(function(e){
        $.validator.setDefaults({
            highlight:function(element){
                $(element).closest('.form-group').remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).closest('.form-group').remove('has-error').addClass('has-success');
            },
            errorElement:'span',
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent().parent().parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $("#sys_dlg_form").validate({
            rules :{
                application_name :"required",

            },
            messages:{
                application_name : "必填",
            },
            submitHandler:function(){
                var formBody = $('#sys_dlg_form');
                $.post('__CONTROLLER__/submit',formBody.serialize(), function(data) {
                    if("success" == data) {
                        $("#sys_dlg").modal("hide");
                        $('#atpbiztable').bootstrapTable("refresh");
                    }else {
                        alert('保存失败');
                    }
                });
            }

        });
    });
    $('#server_factory').on('change',function() {
        var factory = $("#server_factory option:selected").val();
        $.post('__CONTROLLER__/getmodel', {factory: factory}, function (rep) {
            var typearr = eval("(" + rep + ")");
            if (typearr.length > 0) {
                $("#server_model").children().remove();
                var item = "";
                item += "<option value='' selected='selected'></option>";
                for (var i = 0; i < typearr.length; i++) {
                    item += "<option value='" + typearr[i]['d_atpid'] + "'>" + typearr[i]['d_dictname'] + "</option>";
                }
                $("#server_model").append(item);
            }else{
                $("#server_model").children().remove();
            }
        });
    });
    $('#server_area').on('change',function() {
        var area = $("#server_area option:selected").val();
        $.post('__CONTROLLER__/getbuilding', {area: area}, function (rep) {
            var typearr = eval("(" + rep + ")");
            if (typearr.length > 0) {
                $("#server_building").children().remove();
                var item = "";
                item += "<option value='' selected='selected'></option>";
                for (var i = 0; i < typearr.length; i++) {
                    item += "<option value='" + typearr[i]['d_atpid'] + "'>" + typearr[i]['d_dictname'] + "</option>";
                }
                $("#server_building").append(item);
            }else{
                $("#server_building").children().remove();
            }
        });
    });
</script>
