<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>电源管理添加编辑</title>
<style>
    .form-group {
        margin-top: 26px;
    }

    .control-label {
        width: 150px !important;
    }

    .must_filter {
        color: red;
    }

    .form-control {
        display: inline-block;
    }

    .col-sm-3 {
        width: 60% !important;
    }

    .chosen-container {
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }

    .chosen-container {
        height: 100%;
    }
</style>

<body style="margin: 0 auto;">
    <form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
        <div class="tab-content" style="padding-bottom: 50px;">
            <div class="panel-body">
                <div class="form-group">
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>设备编码 </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width:99%;" name="dy_devicecode"
                                id="dy_devicecode"
                                value="<?php if(!empty($data['dy_devicecode']))echo $data['dy_devicecode']; ?>">
                        </div>
                    </div>

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>部标编码 </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width:99%;" name="dy_anecode" id="dy_anecode"
                                value="<?php if(!empty($data['dy_anecode']))echo $data['dy_anecode']; ?>">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>设备类型 </label>
                        <div class="col-sm-3">
                            <select name="dy_type" id="dy_type" class="chosen-select">
                                <option value=""> </option>
                                <?php foreach($dy_type as $key=>$value){ ?>
                                <option <?php if($data['dy_type'] == $value['dic_name']) echo 'selected'; ?>
                                value="{$value.dic_name}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>厂家 </label>
                        <div class="col-sm-3">
                            <select name="dy_factory" id="dy_factory" class="chosen-select">
                                <option value=""> </option>
                                <?php foreach($changJia as $key=>$value){ ?>
                                <option <?php if($data['dy_factory'] == $value['dic_name']) echo 'selected'; ?>
                                value="{$value.dic_id}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-group">

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>型号 </label>
                        <div class="col-sm-3">
                            <select name="dy_modelnumber" id="dy_modelnumber" class="chosen-select">
                                <option value=""> </option>
                            </select>
                        </div>
                    </div>

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>名称 <span class="must_filter">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width:99%;" name="dy_name" id="dy_name"
                                value="<?php if(!empty($data['dy_name']))echo $data['dy_name']; ?>">
                        </div>
                    </div>

                </div>
                <div class="form-group">

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>采购日期 </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width:99%;" name="dy_purchasetime" id="dy_purchasetime"
                                   value="<?php if(!empty($data['dy_purchasetime']))echo $data['dy_purchasetime']; ?>" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                        </div>
                    </div>
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>使用状态 </label>
                        <div class="col-sm-3">
                            <select name="dy_status" id="dy_status" class="chosen-select">
                                <option value=""></option>
                                <?php foreach($zhuangTai as $key=>$value){ ?>
                                <option <?php if($data['dy_status'] == $value['dic_name']) echo 'selected'; ?>
                                    value="{$value.dic_name}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-group">

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>启用日期 </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width:99%;" name="dy_startusetime" id="dy_startusetime"
                                   value="<?php if(!empty($data['dy_startusetime']))echo $data['dy_startusetime']; ?>" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                        </div>
                    </div>
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>地区 </label>
                        <div class="col-sm-3">
                            <select name="dy_area" id="dy_area" class="chosen-select">
                                <option value=""> </option>
                                <?php foreach($diQu as $key=>$value){ ?>
                                <option <?php if($data['dy_area'] == $value['dic_name']) echo 'selected'; ?>
                                value="{$value.dic_id}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>楼宇 </label>
                        <div class="col-sm-3">
                            <select name="dy_belongfloor" id="dy_belongfloor" class="chosen-select">
                                <option value=""> </option>
                            </select>
                        </div>
                    </div>
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>房间号 </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" style="width:99%;" name="dy_roomno" id="dy_roomno"
                                   value="<?php if(!empty($data['dy_roomno']))echo $data['dy_roomno']; ?>">
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>使用人 </label>
                        <div class="col-sm-3">
                            <select name="dy_useman" id="dy_useman" class="chosen-select">
                                <option value="<?php echo $userman['username'];?>"><?php echo $userman['name'];?>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>责任人 </label>
                        <div class="col-sm-3">
                            <select name="dy_dutyman" id="dy_dutyman" class="chosen-select">
                                <option value="<?php echo $dutuser['username'];?>"><?php echo $dutuser['name'];?>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>机柜 </label>
                        <div class="col-sm-3">
                            <select name="dy_jg[]" id="dy_jg" class="chosen-select" multiple>
                                <option value=""> </option>
                                <foreach name="jg_name" item="v">
                                    <option value="{$v.jg_atpid}" selected>{$v.jg_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div style="width: 50%;float: left">
                        <label class=' col-sm-2 control-label'>备注 </label>
                        <div class="col-sm-3">
                            <textarea name="dy_remark" id="dy_remark" style="height:40px"
                                      class="form-control"><?php if(!empty($data['dy_remark']))echo $data['dy_remark']; ?></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?php if(!empty($data['dy_atpid'])) echo $data['dy_atpid']; ?>" name="dy_atpid" id="dy_atpid">
            </div>
            </div>
    </form>
    <div class="modal-footer" style="margin: 0px;text-align:center;z-index: 999;position: fixed;bottom:0;left:0;font-family: cursive; width: 100%;height: 60px;background-color: #fff;">
        <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block;text-align:center;">保存</button>
        <if condition="$data['dy_atpid'] neq null">
            <button type="button"  id="oplog" class="btn btn-warning" style="margin-left: 20px;">日志</button>
        </if>
    </div>
</body>
<script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
<script>
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function () {
            $('#sys_dlg_form1').submit();
        })
        var long_select_width = parseInt($('.form-control').eq(0).css('width').replace('px', '')) * 2.75;
        $('.long-chosen-select').chosen({ disable_search_threshold: 0, search_contains: true, width: long_select_width + 'px' });

        var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({ disable_search_threshold: 0, search_contains: true, width: input_width + 'px' });

        $.validator.setDefaults({
            highlight: function (element) {
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success: function (element) {
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio") || element.is(":checkbox")) {
                    error.appendTo(element.parent());
                } else {
                    error.appendTo(element.parent());
                }
            },
            errorClass: "help-block m-b-none",
            validClass: "help-block m-b-none"
        });
        //使用人
        $('#dy_useman').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url: '__MODULE__/org/assignuser'
        }, {
                loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
            });

        //责任人
        $('#dy_dutyman').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url: '__MODULE__/org/assignuser'
        }, {
                loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
            });

        //责任人
        $('#dy_jg').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url: '__CONTROLLER__/assignJigui'
        }, {
                loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
            });

        $('#sys_dlg_form1').validate({
            onclick: false,
            onfocusout: false,
            onkeyup: false,
            // 如果是下拉菜单，这里的require是不生效的，需要自己在submitHandle方法中添加验证
            rules: {
                dy_name: 'required'
            },
            messages: {
                dy_name: '请输入名称'
            }, submitHandler: function () {
                var dy_status = $('#dy_status').val();
                if(dy_status == ''){
                    layer.alert("使用状态不可为空！");
                    return false;
                }
                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData', formBody.serialize(), function (data) {
                    if (data.code > 0) {
                        parent.$('#atpbiztable').bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                }, 'JSON');
            }
        });
    });

    //选择地区触发楼宇
    $('#dy_area').change(function () {
        var id = $(this).val();
        dic_louyu(id);
    });

    //设置楼宇
    var areaid = $("#dy_area").val();
    if (areaid != '') {
        var next_id = "<?php echo $data['dy_belongfloor'];?>";
        dic_louyu(areaid, next_id);
    }

    //楼宇
    function dic_louyu(id, next_id) {
        if (next_id == 'undefined') { next_id = '' }
        if (!id) return false;
        $.ajax({
            type: 'post',
            url: '__MODULE__/dic/getDicLouYu',
            data: { pid: id },

            dataType: 'json',
            success: function (data) {
                if (data.code > 0) {
                    var str = '<option value=""> </option>';
                    $.each(data.results, function (k, v) {
                        var sele = '';
                        if (next_id == v['dic_name']) { sele = 'selected' }
                        str += "<option " + sele + " value='" + v['dic_id'] + "'>" + v['dic_name'] + "</option>";
                    });
                    $('#dy_belongfloor option').remove();
                    $('#dy_belongfloor').append(str);
                    $('#dy_belongfloor').trigger("chosen:updated");
                } else {
                    layer.alert(data.message);
                }
            },
            error: function () {
                layer.alert('出错啦！请联系管理员');
            }
        });
    }

    //选择厂家触发型号
    $('#dy_factory').change(function () {
        var id = $(this).val();
        dic_xinghao(id);
    });
    //设置型号
    var factoryid = $("#dy_factory").val();
    if (factoryid != '') {
        var next_id = "<?php echo $data['dy_modelnumber'];?>";
        dic_xinghao(factoryid, next_id);
    }
    //型号
    function dic_xinghao(id, next_id) {
        if (next_id == 'undefined') { next_id = '' }
        if (!id) return false;
        $.ajax({
            type: 'post',
            url: '__MODULE__/dic/getDicXingHao',
            data: { pid: id, pid2: '电源' },
            dataType: 'json',
            success: function (data) {
                if (data.code > 0) {
                    var str = '<option value=""> </option>';
                    $.each(data.results, function (k, v) {
                        var sele = '';
                        if (next_id == v['dic_name']) { sele = 'selected' }
                        str += "<option " + sele + " value='" + v['dic_id'] + "'>" + v['dic_name'] + "</option>";
                    });
                    $('#dy_modelnumber option').remove();
                    $('#dy_modelnumber').append(str);
                    $('#dy_modelnumber').trigger("chosen:updated");
                } else {
                    layer.alert(data.message);
                }
            },
            error: function () {
                layer.alert('出错啦！请联系管理员');
            }
        });
    }

    $('#oplog').click(function(){
        var dy_atpid = $('#dy_atpid').val();
        layer.open({
            title:'日志查询',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__MODULE__/Oplog/index?id='+dy_atpid,
            area: ['95%', '95%']
        });
    })

</script>