<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<style>
    th {
        text-align: center;
    }

    .form-control {
        display: inline-block;
    }

    .wrapper .wrapper-content {
        padding-bottom: 0;
    }

    .control-label {
        width: 30%;
        float: left;
        text-align: center;
        line-height: 30px;
    }
    .chosen-container{
        top: -1px;
    }

    .form-group {
        display: inline-block;
        width: 24%;
        margin-top: -7px;
    }

    .formEl-div {
        float: left;
    }

    ._box {
        height: 32px;
        margin: 18px 0px 0px !important;
    }

    .fixed-table-container {
        padding-bottom: 0px !important;
    }

    table {
        table-layout: fixed;
        word-break: break-all;
    }

    .formEl-div {
        width: 70%
    }
</style>

<body class="gray-bg">
    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="col-sm-12" id='search_div'>
                <div class="_box sel_show" style="margin-top: 5px;">

                    <div class="form-group">
                        <label class="control-label">设备编码</label>
                        <div class="formEl-div">
                            <input type="text" class="form-control" style="width:99%;" id="dy_devicecode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">部标编码</label>
                        <div class="formEl-div">
                            <input type="text" class="form-control" style="width:99%;" id="dy_anecode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">名称</label>
                        <div class="formEl-div">
                            <input type="text" class="form-control" style="width:99%;" id="dy_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">使用状态</label>
                        <div class="formEl-div">
                            <select id="dy_status" class="chosen-select">
                                <option value=""> </option>
                                <?php foreach($zhuangTai as $key=>$value){ ?>
                                <option value="{$value.dic_name}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="_box box-show" style="margin-top: 4px;">

                    <div class="form-group">
                        <label class="control-label">厂家</label>
                        <div class="formEl-div">
                            <select id="dy_factory" class="chosen-select">
                                <option value=""> </option>
                                <?php foreach($changJia as $key=>$value){ ?>
                                <option value="{$value.dic_id}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">型号</label>
                        <div class="formEl-div">
                            <select id="dy_modelnumber" class="chosen-select">
                                <option value=""> </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=' col-sm-2 control-label'>责任人 </label>
                        <div class="formEl-div">
                            <select name="dy_dutyman" id="dy_dutyman" class="chosen-select">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=' col-sm-2 control-label'>使用人 </label>
                        <div class="formEl-div">
                            <select name="dy_useman" id="dy_useman" class="chosen-select">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="_box box-show" style="margin-top: 4px;">
                    <div class="form-group">
                        <label class="control-label">地区</label>
                        <div class="formEl-div">
                            <select id="dy_area" class="chosen-select">
                                <option value=""> </option>
                                <?php foreach($diQu as $key=>$value){ ?>
                                <option value="{$value.dic_id}">{$value.dic_name}</option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">楼宇</label>
                        <div class="formEl-div">
                            <select id="dy_belongfloor" class="chosen-select">
                                <option value=""> </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">房间号</label>
                        <div class="formEl-div">
                            <input type="text" class="form-control" style="width:99%;" id="dy_roomno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">机柜</label>
                        <div class="formEl-div">
                            <select name="dy_jg" id="dy_jg" class="chosen-select">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="_box box-show" style="margin-top: 4px;">
                    <div class="form-group">
                        <label class='control-label'>责任部门 </label>
                        <div class="formEl-div">
                            <select name="dy_dutydept" id="dy_dutydept" class="chosen-select">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class='control-label'>使用部门 </label>
                        <div class="formEl-div">
                            <select name="dy_usedept" id="dy_usedept" class="chosen-select">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">采购日期</label>
                        <div class="formEl-div">
                            <input type="text" class="form-control" style="width:99%;" id="dy_purchasetime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">启用日期</label>
                        <div class="formEl-div">
                            <input type="text" class="form-control" style="width:99%;" id="dy_startusetime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                        </div>
                    </div>
                </div>
                <div class="_box">
                    <button class="btn btn-info" style="background-color: forestgreen;border-color: forestgreen;"
                        type="button" id="sys_refresh">查询</button>
                    <button class="btn btn-info" style="background-color: forestgreen;border-color: forestgreen;"
                        type="button" id="sys_reset">重置</button>
                    <a class="btn btn-info "
                        style="margin-left: 10px;background-color: yellowgreen;border-color: yellowgreen;" type="button"
                        id="sys_add">新增</a>
                    <button class="btn btn-warning" style="margin-left: 10px;" type="button" data-head="设备编码,部标编码,设备类型,名称,厂家,型号,使用状态,采购日期,启用日期,地区,楼宇,房间号,责任人,使用人,备注" data-extraparam="" data-remark="支持从Excel批量拷贝粘贴" id="sys_batchadd" data-method="Home/Dianyuan/saveCopyTables">批量增加</button>
                    <button class="btn btn-info"
                        style="margin-left: 10px;background-color: cadetblue;border-color: cadetblue;" type="button"
                        id="sys_del">删除</button>
                    <button class="btn btn-info" style="margin-left: 10px;" type="button" id="sys_exp">导出</button>
                    <button class="btn btn-info" style="margin-left: 10px;" type="button" id="show">收起/展开</button>
                </div>
            </div>
            <div class="col-sm-12">
                <table id="atpbiztable"></table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loading" role="dialog" data-backdrop='static'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">处理中</h4>
                </div>
                <div class="modal-body">
                    <img src="__PUBLIC__/img/loading/loading9.gif" style='display: block;margin: 0 auto'>
                    <div id="loadingText" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="sort">
    <input type="hidden" id="sortOrder">
</body>
<script src="__PUBLIC__/js/tablecopy.js"></script>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
<script>
    layui.use('layer', function () {
        layer = layui.layer;
    })
    var formEl_div_width = parseInt($('.formEl-div').eq(0).width());
    $(".chosen-select").chosen({ disable_search_threshold: 0, search_contains: true, width: formEl_div_width + "px" })
    //使用人
    $('#dy_useman').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url: '__MODULE__/org/assignuser'
    }, {
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });

    //责任人
    $('#dy_dutyman').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url: '__MODULE__/org/assignuser'
    }, {
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });

     //使用部门
    $('#dy_usedept').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url: '__MODULE__/org/assigndept'
    }, {
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });

    //责任部门
    $('#dy_dutydept').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url: '__MODULE__/org/assigndept'
    }, {
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });

    //机柜
    $('#dy_jg').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url: '__CONTROLLER__/assignJigui'
    }, {
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });
    fixed();
    function fixed(){
        searchDivHeight = parseInt($('#search_div').height());
        boxShow_h = parseInt($('.box-show').height());
        // data_body_h = $(window).height();
        height = $(window).height()-(searchDivHeight-boxShow_h);
        //data_body_h = $(window).height() - 132;
        // 根据浏览器类型设置不同高度

        if(window.ActiveXObject||'ActiveXObject' in window){
            $('table').attr('data-height',height);
        }else{
            $('table').attr('data-height',height+13);
        }
    }

    var searchDivHeight = parseInt($('#search_div').height());
    var boxShow_h = parseInt($('.box-show').height());
    var body_h = $(window).height();
    var h = body_h-searchDivHeight;
    var h_new = body_h-(searchDivHeight - boxShow_h);
    $('#show').click(function(){
        if($('.box-show').is(':visible')){
            // 根据浏览器类型设置不同高度
            if(window.ActiveXObject||'ActiveXObject' in window){
                $('#atpbiztable').bootstrapTable("resetView",{height:h_new});
            }else{
                $('#atpbiztable').bootstrapTable("resetView",{height:h_new+13});
            }
        }else{
            // 根据浏览器类型设置不同高度
            if(window.ActiveXObject||'ActiveXObject' in window){
                $('#atpbiztable').bootstrapTable("resetView",{height:h-boxShow_h-27});
            }else{
                $('#atpbiztable').bootstrapTable("resetView",{height:h-boxShow_h-16});
            }
        }
    })
//    var height = document.documentElement.clientHeight - 40;
//    var searchDivHeight = parseInt($('#search_div').height());
    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getData',      //请求后台的URL（*）
                method: 'post',                     //请求方式（*）
                toolbar: '#atpbiztoolbar',          //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "dy_devicecode",
                sortOrder: "desc",                  //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页
                pageSize: 15,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "dy_atpid",                   //每一行的唯一标识，一般为主键列
                detailView: false,                  //是否显示父子表
                columns: [
                    [
                        { checkbox: true , width: 40},
                        {
                            title: '序号', width: 55,
                            formatter: function (value, row, index) {
                                var option = $('#atpbiztable').bootstrapTable('getOptions');
                                return option.pageSize * (option.pageNumber - 1) + index + 1;
                            }
                        },
                        { field: 'dy_devicecode', title: '设备编码', sortable: true, width: 100 },
                        { field: 'dy_anecode', title: '部标编码', sortable: true, width: 100 },
                        { field: 'dy_type', title: '设备类型', sortable: true, width: 100 },
                        { field: 'dy_name', title: '名称', sortable: true, width: 110 },
                        { field: 'dy_factory', title: '厂家', sortable: true, width: 80 },
                        { field: 'dy_modelnumber', title: '型号', sortable: true, width: 80 },
                        { field: 'dy_status', title: '使用状态', sortable: true, width: 100 },
                        { field: 'dy_purchasetime', title: '采购日期', sortable: true, width: 100 },
                        { field: 'dy_startusetime', title: '启用日期', sortable: true, width: 100 },
                        { field: 'dy_area', title: '地区', sortable: true, width: 80 },
                        { field: 'dy_belongfloor', title: '楼宇', sortable: true, width: 80 },
                        { field: 'dy_roomno', title: '房间号', sortable: true, width: 90 },
                        { field: 'dy_dutyman', title: '责任人', sortable: true, width: 90 },
                        { field: 'dy_dutydept', title: '责任部门', sortable: true, width: 100 },
                        { field: 'dy_useman', title: '使用人', sortable: true, width: 90 },
                        { field: 'dy_usedept', title: '使用部门', sortable: true, width: 100 },
                        { field: 'dy_jg', title: '机柜', sortable: true, width: 100 },
                        // {field: 'dy_remark', title: '备注', sortable: true, width: 120},
                        {
                            field: 'dy_atpid', title: '操作', sortable: false, width: 110,
                            formatter: function (value, row, index) {
                                var inp = "'" + value + "'";
                                return '<a  class="btn btn-info btn-xs"  style="margin:0" onclick="updateInRow(' + inp + ')">编辑</a>&nbsp;<a  class="btn btn-info btn-xs" onclick="deleteInRow(' + inp + ')" style="margin:0;background: #AB154D;border-color: #AB154D;">删除</a>';
                            }
                        }

                    ]
                ],
                onDblClickRow: function (row) {
                    updateInRow(row['dy_atpid']);
                }
//                onLoadSuccess: function (data) {
//                    var tabheight = $('.fixed-table-container').height();
//                    tabheight = parseInt(tabheight);
//                    if (tabheight < (height - searchDivHeight)) {
//                        $('.fixed-table-container').css('height', 'auto');
//                    } else {
//                        $('#atpbiztable').bootstrapTable("resetView", { height: height - searchDivHeight });
//                    }
//                }
            });
        }
    };
    TableObj.oTableInit();

    function queryParams(params) {  //配置参数
        $('#sort').val(params.sort);
        $('#sortOrder').val(params.order);
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            dy_devicecode: $('#dy_devicecode').val(),
            dy_anecode: $('#dy_anecode').val(),
            dy_name: $('#dy_name').val(),
            dy_factory: $('#dy_factory option:selected').val(),
            dy_modelnumber: $('#dy_modelnumber option:selected').val(),
            dy_status: $('#dy_status option:selected').val(),
            dy_area: $('#dy_area option:selected').val(),
            dy_belongfloor: $('#dy_belongfloor option:selected').val(),
            dy_roomno: $('#dy_roomno').val(),
            dy_purchasetime: $('#dy_purchasetime').val(),
            dy_startusetime: $('#dy_startusetime').val(),
             dy_dutyman:$('#dy_dutyman option:selected').val(),
             dy_dutydept:$('#dy_dutydept option:selected').val(),
             dy_useman:$('#dy_useman option:selected').val(),
             dy_usedept:$('#dy_usedept option:selected').val(),
             dy_jg:$('#dy_jg').val()
        };
        return temp;
    }

    $('#sys_refresh').on('click', function () {
        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });

    $('#sys_add').on('click', function () {
        updateInRow('');
    });

    $('.box-show').hide();
    $("#show").click(function(){
        // $(this).parent().parent().find("ul").toggle();//无动画显示隐藏
        $('.box-show').fadeToggle();// 透明度变化 淡入淡出
        // $('.box-show').slideToggle(); //有个上下滑动动画的展开收起效果  推荐
    });

    $('#sys_del').on('click', function () {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            var ids = [];
            $.each(tablerow, function () {
                ids.push(this['dy_atpid']);
            });
            deleteInRow(ids.join(','));
        }
    });

    //数据编辑触发该方法
    function updateInRow(id) {
        layer.open({
            title: '数据编辑',
            closeBtn: 1,
            type: 2,
            shadeClose: false,
            content: '__CONTROLLER__/add?dy_atpid=' + id,
            area: ['90%', '93%']
        });
    }
    //数据删除触发该方法
    function deleteInRow(id) {
        layer.confirm('确认删除选中数据?',
            { btn: ['确定', '取消'] },
            function () {
                $.ajax({
                    type: 'post',
                    url: '__CONTROLLER__/delData',
                    data: { dy_atpid: id },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code > 0) {
                            layer.msg('操作成功');
                            $('#sys_refresh').click();
                        } else {
                            layer.alert(data.message);
                        }
                    }, error: function () {
                        layer.alert('出错啦！请稍后再试');
                    }
                })
            })
    }
    //选择地区触发楼宇
    $('#dy_area').change(function () {
        var id = $(this).val();
        dic_louyu(id);
    });

    //设置楼宇
    var areaid = $("#dy_area").val();
    if (areaid != '') {
        var next_id = "<?php echo $data['dy_belongfloor'];?>";
        dic_louyu(areaid, next_id);
    }

    //楼宇
    function dic_louyu(id, next_id) {
        if (next_id == 'undefined') { next_id = '' }
        if (!id) return false;
        $.ajax({
            type: 'post',
            url: '__MODULE__/dic/getDicLouYu',
            data: { pid: id },

            dataType: 'json',
            success: function (data) {
                if (data.code > 0) {
                    var str = '<option value=""> </option>';
                    $.each(data.results, function (k, v) {
                        var sele = '';
                        if (next_id == v['dic_id']) { sele = 'selected' }
                        str += "<option " + sele + " value='" + v['dic_id'] + "'>" + v['dic_name'] + "</option>";
                    });
                    $('#dy_belongfloor option').remove();
                    $('#dy_belongfloor').append(str);
                    $('#dy_belongfloor').trigger("chosen:updated");
                } else {
                    layer.alert(data.message);
                }
            },
            error: function () {
                layer.alert('出错啦！请联系管理员');
            }
        });
    }

    //选择厂家触发型号
    $('#dy_factory').change(function () {
        var id = $(this).val();
        dic_xinghao(id);
    });
    //设置型号
    var factoryid = $("#dy_factory").val();
    if (factoryid != '') {
        var next_id = "<?php echo $data['dy_modelnumber'];?>";
        dic_xinghao(factoryid, next_id);
    }
    //型号
    function dic_xinghao(id, next_id) {
        if (next_id == 'undefined') { next_id = '' }
        if (!id) return false;
        $.ajax({
            type: 'post',
            url: '__MODULE__/dic/getDicXingHao',
            data: { pid: id, pid2: '电源' },
            dataType: 'json',
            success: function (data) {
                if (data.code > 0) {
                    var str = '<option value=""> </option>';
                    $.each(data.results, function (k, v) {
                        var sele = '';
                        if (next_id == v['dic_id']) { sele = 'selected' }
                        str += "<option " + sele + " value='" + v['dic_id'] + "'>" + v['dic_name'] + "</option>";
                    });
                    $('#dy_modelnumber option').remove();
                    $('#dy_modelnumber').append(str);
                    $('#dy_modelnumber').trigger("chosen:updated");
                } else {
                    layer.alert(data.message);
                }
            },
            error: function () {
                layer.alert('出错啦！请联系管理员');
            }
        });
    }
    $('#sys_exp').click(function () {
        $('#loading').modal('show');
        var sort = $('#sort').val();
        var sortOrder = $('#sortOrder').val();
        var t = "__CONTROLLER__/getDataWithExport";
        t = encodeURI(t);
        $.ajax({
            type: 'post',
            url: t,
            dataType: 'json',
            data: {
                sort: sort,
                sortOrder: sortOrder,
                dy_devicecode: $('#dy_devicecode').val(),
                dy_anecode: $('#dy_anecode').val(),
                dy_name: $('#dy_name').val(),
                dy_factory: $('#dy_factory option:selected').val(),
                dy_modelnumber: $('#dy_modelnumber option:selected').val(),
                dy_status: $('#dy_status option:selected').val(),
                dy_area: $('#dy_area option:selected').val(),
                dy_belongfloor: $('#dy_belongfloor option:selected').val(),
                dy_roomno: $('#dy_roomno').val(),
                dy_purchasetime: $('#dy_purchasetime').val(),
                dy_startusetime: $('#dy_startusetime').val(),
                 dy_dutyman:$('#dy_dutyman option:selected').val(),
                 dy_dutydept:$('#dy_dutydept option:selected').val(),
                 dy_useman:$('#dy_useman option:selected').val(),
                 dy_usedept:$('#dy_usedept option:selected').val(),
                 dy_jg:$('#dy_jg').val()
                // dy_remark:$('#dy_remark').val()
            },
            success: function (data) {
                $('#loading').modal('hide');
                if (data.code > 0) {
                    location.href = data.message;
                } else {
                    layer.msg(data.message);
                }
            }, error: function () {
                $('#loading').modal('hide');
                layer.alert('出错了！请联系管理员！');
            }
        })
    })

    $('#sys_reset').click(function(){
        $('.form-control').val('');
        $('.chosen-select').val('');
        $('.chosen-select').trigger("chosen:updated");
        $('#sys_refresh').click()
    })
</script>

</html>