<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <!--[if lte IE 8]>
    <script type="text/javascript" src="__PUBLICOLD__/vendor/ie8/es5-shim.min.js"></script>
    <![endif]-->

    <link href="__PUBLICOLD__/css/bootstrap.min.css" rel="stylesheet">

    <link href="__PUBLICOLD__/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLICOLD__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="__PUBLICOLD__/vendor/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link href="__PUBLICOLD__/adminframework/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="__PUBLICOLD__/js/jquery1.11.1.js"></script>
    <script src="__PUBLICOLD__/js/bootstrap.js"></script>
    <!--<script src="__PUBLICOLD__/vendor/bootstrap/js/ie10-viewport-bug-workaround.js"></script>-->
    <!--<script src="__PUBLICOLD__/vendor/bootstrap-table/bootstrap/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="__PUBLICOLD__/vendor/ztree/js/jquery.ztree.core.js"></script>
    <script src="__PUBLICOLD__/adminframework/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="__PUBLICOLD__/adminframework/js/plugins/chosen/chosen.order.jquery.js"></script>
    <link href="__PUBLICOLD__/css/tablepublic.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLICOLD__/vendor/ie8/html5shiv.js"></script>
    <script src="__PUBLICOLD__/vendor/ie8/respond.min.js"></script>
    <![endif]-->

    <style>
        .form-control{width:20%;padding-left: 10px;display: inline-block}
        .chosen-choices{
            height:300px !important;
        }
    </style>
</head>
<body style="width:100%;height:100%;margin-left: 30px;font-family: 微软雅黑;overflow: hidden" >
<p class="name" style="font-size: 20px;height: 30px;line-height: 30px;margin-bottom: 10px;margin-top: 10px;margin-left: -20px;width: 98%">AD账户批量添加</p>


<div id="treearea" style="float: left;margin-left: -20px;border: 1px solid #acacac;overflow: auto;width:25%;">
    <div class="content_wrap" style="width: 300px;">
        <div class="zTreeDemoBackground left" style="float: left;width: 300px;">
            <p  style="font-size: 15px;height: 30px;line-height: 30px;margin-bottom: 0px;margin-top: 10px;text-align: left;">&nbsp;&nbsp;添加到(OU)：</p>
            <hr style="height: 1px;border: none;border-top: 3px solid #18a594;margin-top: 0;margin-bottom: 0;margin-left: 10px;">
            <ul id="treeDemo"  class="ztree" style="width: 300px;border:0;"></ul>
        </div>
    </div>
</div>
<div id="atp_wrapper" style="margin-left: 10px;float:left;width: 72%;border: 1px solid #adadad;">
    <div class="container-fluid main">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <form method="post" id="form" enctype="multipart/form-data" action="__CONTROLLER__/batchAdd">
                                <div class="control-label" id="willAddToBox" style="display: inline-block;width: 100%;margin-top: 5px;">
                                    <label class="control-label" style="width: 100px;display: inline-block"> 即将添加到：</label>
                                   <input type="text" name="" class="form-control" style="width:310px" id="choosemenu" value=""/>
                                   <input type="hidden" name="dept" class="form-control" style="width:310px" id="chooseOU" value=""/>
                                </div>
                                <div style="margin-top: 20px;">
                                    <label class="control-label" style="width: 100px;margin-left: 0px;">AD数据文件：</label>
                                    <input name="file" id="file" style="width: 310px;display:inline-block" type="file" value="{$u_filename}" class="form-control">
                                    <a class="btn btn-success" href="__PUBLICOLD__/tpl/ADtemplete.csv">查看模板文件</a>
                                </div>
                                <div style="margin-left: -8px;margin-top: 0px;">
                                    <label class="control-label" style="width: 0;display: inline-block"></label>
                                    <input id="searchContent" type="text" class="form-control" style="width:420px;">
                                    <button class="btn btn-success " style="margin-bottom:5px;" type="button" id="sys_search"><i class="fa fa-search"></i>&nbsp;查询</button>
                                    <button class="btn btn-error " style="margin-bottom:5px;" type="submit" id="sys_save"><i class="fa fa-search"></i>&nbsp;保存</button>
                                </div>
                                <div style="margin-left: -8px;">
                                    <label class="control-label" style="width: 0"></label>
                                    <select data-placeholder="请选择"  id="Ou" class="chosen-select_long" style="margin-left: 30px;" >
                                        <option value=" ">&nbsp;</option>
                                    </select>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__PUBLICOLD__/adminframework/js/plugins/chosen/chosen.jquery.js"></script>
<script type="text/javascript">
    $(".chosen-select_long").chosen({disable_search_threshold: 10, search_contains: true, width: '700px'});

    total = document.documentElement.clientHeight;
    colHeight = total-100;
    document.getElementById("treearea").style.height = colHeight+"px";
    document.getElementById("atp_wrapper").style.height = colHeight+"px";
    var openNodes = [];
    var setting = {
        view: {
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: 0
            }
        },
        callback: {
            beforeClick:beforeClick,
            onClick:onClick
        }
    };

    var table = null;
    var zNodes = null;
    var departmentId = '0';

    function beforeClick(event, treeId, treeNode, clickFlag) {
    }

    function onClick(event, treeId, treeNode, clickFlag) {
        var resultZtree = $.fn.zTree.getZTreeObj("treeDemo");
        var node =  resultZtree.getSelectedNodes()[0];
        departmentId = node.ConvertPath;
        var OU = node.DistinguishedName;
        openNodes.push(departmentId);
        departmentName = node.name;
        $("#choosemenu").val('');
        $("#chooseOU").val('');
        $("#chooseOU").val(OU);
        $("#choosemenu").val(departmentId);

    }
    $(document).ready(function() {
        $.ajax({
            url: "__CONTROLLER__/getAllOU",
            type: "get",
            async: false,
            dataType: "json",
            success: function (data) {
                zNodes = data;
            },
            error: function () {
            }
        });
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);

        var resultZtree = $.fn.zTree.getZTreeObj("treeDemo");
        var node = resultZtree.getNodes()[0];
        departmentId = node.id;
    });
    $('#sys_search').on('click', function(){
        var searchContent = $('#searchContent').val();
        if(searchContent){
            $.ajax({
                url: "__CONTROLLER__/checkOuByContent",
                type: "post",
                data :{searchContent:searchContent},
                dataType: "json",
                success: function (data) {
                    var len = data.length;
                    $('#Ou option').remove();
                    $('#Ou').trigger("chosen:updated");
                    for(var i=0; i<len; i++){
                        if(data){
                            for(var i=0; i<data.length; i++){
                                $('#Ou').append('<option value="'+data[i].DistinguishedName+'"   >'+data[i].ConvertPath+'</option>');
                            }
                            $('#Ou').trigger("chosen:updated");
                            $('#Ou').click();
                            $('#choosemenu').val(data[0]['ConvertPath']);
                            $("#chooseOU").val(data[0]['DistinguishedName']);
                        }
                    }
                }
            });
        }
    })
    $('#Ou').on('change', function(){
        var text = $(this).find('option:selected').text();
        var val = $(this).find('option:selected').val();
        $('#choosemenu').val(text);
        $('#chooseOU').val(val);
    })


    function refreshZTree() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        openNodes = getOpenNode();
        zTree.destroy();

        $.ajax({
            url: "__CONTROLLER__/getAllOU",
            type: "get",
            async: false,
            data :{treename:$("#treename").val()},
            dataType: "json",
            success: function (data) {
                zNodes = data;
            },
            error: function () {
                alert('获取数据失败');
            }
        });
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    }
    function getOpenNode(){
        var resultZtree = $.fn.zTree.getZTreeObj("treeDemo");
        var node =  resultZtree.getNodes();
        var nodes = resultZtree.transformToArray(node);
        var openNodes = [];
        for(var i=1;i<nodes.length;i++){
            if(nodes[i].open == true){
                openNodes.push(nodes[i].id);
            }
        }
        return openNodes;
    }
    $('#form').on('submit', function(){
        var dept = $('#choosemenu').val();
        var file = $('#file').val();
        if(!dept){
            alert('请先选择部门！');
            return false;
        }
        if(!file){
            alert('请上传AD数据文件！');
            return false;
        }
    })
</script>
</html>





