<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>平台添加编辑</title>
<style>
    .form-group {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .control-label {
        width: 150px !important;
        font-size: 13px!important;
    }
    .must_filter{
        color: red;
    }
    .form-control{
        display:inline-block;
    }

    .chosen-container{
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }
    .chosen-container{
        height: 100%;
        width:100%!important;
    }
    .modal-footer{
        margin: 0px;
        z-index: 999;
        position: fixed;
        bottom:0;
        left:0;
        font-family: cursive;
        width: 100%;
        height: 60px;
        background-color: #fff;
    }
    .modal-footer .form-group{
        position: absolute;
        top: -3px;
        left:50px;
        width: 85%;
    }

    .col-sm-3{
        width:54%!important;
        padding-left: 0!important;
    }
    .col-sm-3{
        padding-left:0;
        padding-right:0;
    }
    .remark{
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width:74px;
        font-size: 13px;
    }
    #sys_dlg_submit {
        margin-right: 30px;
    }
</style>

<body style="margin: 0 auto;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content" style="padding-bottom: 50px;">
        <div class="panel-body">
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>平台名称 <span class="must_filter">*</span> </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_name" id="pf_name" value="<?php if(!empty($data['pf_name']))echo $data['pf_name']; ?>">
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>搜索关键词</label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_keyword" id="pf_keyword" value="<?php if(!empty($data['pf_keyword']))echo $data['pf_keyword']; ?>">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>建设途径  </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_purchase" id="pf_purchase" value="<?php if(!empty($data['pf_purchase']))echo $data['pf_purchase']; ?>">
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>上线时间</label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_starttime" id="pf_starttime" value="<?php if(!empty($data['pf_starttime']))echo $data['pf_starttime']; ?>" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 100%;float: left">
                    <label class=' col-sm-2 control-label'>平台访问地址</label>
                    <div class="col-sm-3"  style='width: 77.5%!important;'>
                        <input type="text" class="form-control" style="width:99%;" name="pf_url" id="pf_url" value="<?php if(!empty($data['pf_url']))echo $data['pf_url']; ?>">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>用户范围  </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_userrange" id="pf_userrange" value="<?php if(!empty($data['pf_userrange']))echo $data['pf_userrange']; ?>" >
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>使用状态 </label>
                    <div class="col-sm-3" >
                        <select name="pf_status" id="pf_status" class="chosen-select">
                            <option value=""></option>
                                <?php foreach($zhuangTai as $key=>$value){ ?>
                                <option <?php if($data['pf_status'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                                <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>管理员A岗<span class="must_filter">*</span> </label>
                    <div class="col-sm-3" >
                        <select name="pf_admina"  class="chosen-select" id="pf_admina">
                            <option value="<?php echo $adminA['username'];?>"><?php echo $adminA['name'];?></option>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>管理员B岗 </label>
                    <div class="col-sm-3" >
                        <select name="pf_adminb"  class="chosen-select" id="pf_adminb">
                            <option value="<?php echo $adminB['username'];?>"><?php echo $adminB['name'];?></option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>所属班组 </label>
                    <div class="col-sm-3" >
                        <select  name="pf_group" id="pf_group" class="chosen-select" >
                            <option value=""> 请选择</option>
                            <?php foreach($group as $key=>$value){ ?>
                            <option <?php if($data['pf_group'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>平台责任人 </label>
                    <div class="col-sm-3" >
                        <select  name="pf_dutyman" id="pf_dutyman" class="chosen-select" >
                            <option value="<?php echo $dutuser['username'];?>"><?php echo $dutuser['name'];?></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>责任部门</label>
                    <div class="col-sm-3" >
                        <select   name="pf_dutydept" class="chosen-select" id="pf_dutydept" disabled>
                            <option value="<?php echo $_dutyDept;?>"><?php echo $dutyDept;?></option>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>用户数 </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_usernum" id="pf_usernum" value="<?php if(!empty($data['pf_usernum']))echo $data['pf_usernum']; ?>">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>版本</label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_version" id="pf_version" value="<?php if(!empty($data['pf_version']))echo $data['pf_version']; ?>">
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>研发单位 </label>
                    <div class="col-sm-3" >
                        <select  name="pf_develop[]" id="pf_develop" class="chosen-select" multiple>
                            <option value="">请选择</option>
                            <?php foreach($develope as $key=>$value){ ?>
                            <option <?php if(in_array($value['dic_name'],$dept)) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>是否需巡检</label>
                    <div class="col-sm-3" >
                        <select  name="pf_ischeck" id="pf_ischeck" class="chosen-select" >
                            <option value=""> 请选择</option>
                            <?php foreach($isCheck as $key=>$value){ ?>
                            <option <?php if($data['pf_ischeck'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>厂商联系人 </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_companyuser" id="pf_companyuser" value="<?php if(!empty($data['pf_companyuser']))echo $data['pf_companyuser']; ?>">
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div style="width:50%;float: left">
                    <label class=' col-sm-2 control-label'>联系方式 </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_companytel" id="pf_companytel" value="<?php if(!empty($data['pf_companytel']))echo $data['pf_companytel']; ?>" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 100%;float: left">
                    <label class=' col-sm-2 control-label'>功能简介</label>
                    <div class="col-sm-3"  style='width: 77.5%!important;'>
                        <input type="text" class="form-control" style="width:99%;" name="pf_function" id="pf_function" value="<?php if(!empty($data['pf_function']))echo $data['pf_function']; ?>">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width:50%;float: left">
                    <label class=' col-sm-2 control-label'>系统员</label>
                    <div class="col-sm-3" >
                        <select  name="pf_sysadmin" id="pf_sysadmin" class="chosen-select" >
                            <option value="<?php echo $sysadmin['username'];?>"><?php echo $sysadmin['name'];?></option>
                        </select>
                    </div>
                </div>
                <div style="width:50%;float: left">
                    <label class=' col-sm-2 control-label'>普通用户鉴别方式</label>
                    <div class="col-sm-3" >
                        <select  name="pf_loginmode" id="pf_loginmode" class="chosen-select" >
                            <option value="">请选择</option>
                            <?php foreach($loginmode as $key=>$value){ ?>
                            <option <?php if($data['pf_loginmode'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>安全员 </label>
                    <div class="col-sm-3" >
                        <select  name="pf_secadmin" id="pf_secadmin" class="chosen-select" >
                            <option value="<?php echo $secadmin['username'];?>"><?php echo $secadmin['name'];?></option>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>管理员鉴别方式</label>
                    <div class="col-sm-3" >
                        <select  name="pf_aloginmode" id="pf_aloginmode" class="chosen-select" >
                            <option value="">请选择</option>
                            <?php foreach($loginmode as $key=>$value){ ?>
                            <option <?php if($data['pf_aloginmode'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>审计员 </label>
                    <div class="col-sm-3">
                        <select  name="pf_audit" id="pf_audit" class="chosen-select" >
                            <option value="<?php echo $secadmin['username'];?>"><?php echo $secadmin['name'];?></option>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>数据存放方式</label>
                    <div class="col-sm-3" >
                        <select  name="pf_usemode" id="pf_usemode" class="chosen-select" >
                            <option value="">请选择</option>
                            <?php foreach($usemode as $key=>$value){ ?>
                            <option <?php if($data['pf_usemode'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>中间件（版本） </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_weblogic" id="pf_weblogic" value="<?php if(!empty($data['pf_weblogic']))echo $data['pf_weblogic']; ?>" >
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>技术架构</label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pf_struction" id="pf_struction" value="<?php if(!empty($data['pf_struction']))echo $data['pf_struction']; ?>">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div style="width:100%;float: left">
                    <label class=' col-sm-2 control-label'>备注</label>
                    <div class="col-sm-3"  style='width: 77.5%!important;'>
                        <input type="text" class="form-control" style="width:99%;" name="pf_bz" id="pf_bz" value="<?php if(!empty($data['pf_bz']))echo $data['pf_bz']; ?>">
                    </div>
                </div
            </div>
        </div>
        <input type="hidden" value="<?php if(!empty($data['pf_atpid'])) echo $data['pf_atpid']; ?>" name="pf_atpid" id="pf_atpid">
    </div>
    </div>
</form>
<if condition="$Objtype eq null">
    <div class="modal-footer" style="margin: 0px;text-align:center;z-index: 999;position: fixed;bottom:0;left:0;font-family: cursive; width: 100%;height: 60px;background-color: #fff;">
        <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block;text-align:center;">保存</button>
    </div>
</if>
</body>
<script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
<script>
    $(function () {
        layui.use('layer', function() {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function(){
            $('#sys_dlg_form1').submit();
        })

        var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true , width: input_width+'px'});
        //管理员A岗
        $('#pf_admina').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //管理员B岗
        $('#pf_adminb').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //责任人
        $('#pf_dutyman').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url: '__MODULE__/org/assignuser'
        }, {
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //系统员
        $('#pf_sysadmin').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });
        //安全员
        $('#pf_secadmin').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });
        //审计员
        $('#pf_audit').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        $.validator.setDefaults({
            highlight:function(element){
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $('#sys_dlg_form1').validate({
            onclick:false,
            onfocusout:false,
            onkeyup:false,
            submitHandler:function(){
                /*   var tl_atpid = $('#tl_atpid').val();*/
                var pf_name = $('#pf_name').val();
                var pf_admina = $('#pf_admina').val();
                var pf_status = $('#pf_status').val();
                if(pf_name==''){
                    layer.alert("工具名称不可为空！")
                    return false;
                }
                if(pf_admina==''){
                    layer.alert("管理员A岗不可为空！")
                    return false;
                }
                if(pf_status == ''){
                    layer.alert("使用状态不可为空！");
                    return false;
                }
                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData',formBody.serialize(), function (data) {
                    if (data.code > 0) {
//                        parent.$('#sys_refresh').click();
                        parent.$('#atpbiztable').bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                },'JSON');
            }
        });
    });

    $('#pf_dutyman').change(function(){
        var username = $(this).val();
        $.ajax({
            type:'post',
            url:'__MODULE__/ShiXiang/FindId',
            data:{username:username},
            dataType:'json',
            success:function(res){
                if(res.code > 0){
                    var str = "<option value='" + res.message[0] + "'  " + 'selected' + ">" + res.message[1] + "</option>";
                    $('#pf_dutydept').append(str)
                    $('#pf_dutydept').trigger("chosen:updated")
                }else{
                    alert(res.message)
                }
            }
        })
    });

    //如果验证下拉框必填，请使用该方法
    //    function checkSelectForm(objArr, messageArr){
    //        var len = objArr.length;
    //        for(var i=0;i<len;i++){
    //            var obj = objArr[i];
    //            var val = $('#'+obj).val();
    //            if(!val){
    //                layer.msg('请选择'+messageArr[i]);
    //                $('#'+obj).trigger('chosen:open');
    //                return false;
    //            }
    //        }
    //        return true;
    //    }
</script>