<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<title>字典编辑</title>
<style>
    .form-group {
        margin: 35px 0 0;
    }
</style>
<body style="margin: 0 auto;text-align: center">
<form id="sys_dlg_form" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content">
        <div class="panel-body">
            <div class="form-group">
                <label class=" control-label">类型名称：</label>
                <input id="type_name" type="text"  value="{$data.type_name}" style="width:300px;margin:0 10px;display: inline-block" class="form-control">
                <label class=" control-label">是否隐藏：</label>
                显示 <input type="radio" <?php if($data['dic_type_is_hide']==0) echo 'checked';?> name="is_hide" value="0">
                隐藏 <input type="radio" <?php if($data['dic_type_is_hide']==1) echo 'checked';?> name="is_hide" value="1">
            </div>
            <div class="form-group">
                
            </div>
            <button type="button" data-dismiss="modal" id="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
    <input id="id" type="hidden" value="{$data.dic_type_id}" class="form-control">
</form>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    $('#submit').click(function(){
        var id = $('#id').val();
        var type_name = $('#type_name').val();
        var is_hide=$('input:radio[name="is_hide"]:checked').val();
        if(!type_name){
            layer.alert('请输入类型名称');
            return false;
        }

        $.ajax({
            type:'post',
            url:'__CONTROLLER__/addDicType',
            data:{type_name:type_name,id:id,is_hide:is_hide},
            dataType :'json',
            success:function(data){
                if(data.code > 0){
                    layer.msg('操作成功');
                    parent.$('#atpbiztable').bootstrapTable('refresh');
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }else{
                    layer.alert(data.message);
                }
            }
        })
    })

</script>