<include file="Universal@Public:header" />
<body style="background: lightgrey;;overflow: hidden">
<div class="top-content" style="text-align: center;;overflow: hidden" >
    <div class="container" style="width:500px;">
        <div class="col-sm-5 pull-right mart70" style="width:500px;">
            <div class="form-top">
                <div class="form-top-right">
                    <i class="fa fa-key blue"></i>
                </div>
            </div>
            <div class="form-bottom"  style="text-align:center;margin-top: 40px">
                <form role="form" action="" method="post" class="login-form"  id="form-body">
                    <div class="form-group">
                        <label>原始密码:</label>
                        <input type="password" value="{$password}" class="form-password form-control" id="form-password">
                    </div>
                    <div class="form-group">
                        <label>新密码:</label>
                        <input type="password" value="{$password}" class="form-password form-control" id="form-newpassword">
                        <label id="isfeimi" style="color:red;font-size:15px;">提示:密码必须包含大小写字母且包含数字，长度不能低于10</label>
                    </div>
                    <div class="form-group">
                        <label>确认新密码:</label>
                        <input type="password" value="{$password}" class="form-password form-control" id="form-confirm">
                    </div>
                    <button id='sys_dlg_submit' style="width:470px;margin:5px 0px" type="button" class="btn btn-info" >确定</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/md5.js"></script>
<script type="text/javascript">
    layui.use('layer', function() {
        layer = layui.layer;
    })

    $('#form-confirm').bind('keypress', function (event) {
        if(event.keyCode == "13"){
          $('#sys_dlg_submit').click();
        }
    })
    $(function () {
        var isunclassified='<?php echo $isunclassified; ?>';
        if(isunclassified==0)
        $("#isfeimi").hide();
    })
    //检测登陆
    $('#sys_dlg_submit').on('click',function(){
        var password = $('#form-password').val();
        var newpassword=$('#form-newpassword').val();
        var confirmpassword=$('#form-confirm').val();
        var isunclassified='<?php echo $isunclassified; ?>';
        if(isunclassified==1)
        {
            if(password == ''){
                $('#form-password').focus();
                layer.msg('请输入原始密码');
                return false;
            }
            if(newpassword=='')
            {
                $('#form-newpassword').focus();
                layer.msg('请输入新密码');
                return false;
            }
            if(confirmpassword=='')
            {
                $('#form-confirm').focus();
                layer.msg('请确认新密码');
                return false;
            }
            if(newpassword.length<10)
            {
                layer.msg('密码最低为10位');
                return false;
            }
            if( !newpassword.match(/([a-z])+/))
            {
                layer.msg('密码必须包含数字及大小写字母');
                return false;
            }
            if( !newpassword.match(/([A-Z])+/))
            {
                layer.msg('密码必须包含数字及大小写字母');
                return false;
            }
            if( !newpassword.match(/([0-9])+/))
            {
                layer.msg('密码必须包含数字及大小写字母');
                return false;
            }
        }
        if(newpassword==password)
        {
            layer.msg('不能与原密码相同');
            return false;
        }
        if(newpassword!=confirmpassword)
        {
            layer.msg('确认密码和新密码不一致');
            return false;
        }
        password = $.md5(password);
        newpassword = $.md5(newpassword);
        $.ajax({
            type:'post',
            url:'__MODULE__/Login/updatePsd',
            data:{old:password,new1:newpassword},
            dataType:'json',
            success:function(data){
                if(data.code>0){
                    layer.msg('修改成功');
                    window.parent.location.href='__MODULE__/Index/index?noReopen=1';
                }else{
                    layer.alert(data.message);
                }
            }
        })
    })
</script>