<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>运维管理系统</title>
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <!--<link href="__PUBLICOLD__/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__PUBLICOLD__/bgadmin/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__PUBLICOLD__/bgadmin/css/global.css" media="all">
    <link rel="stylesheet" href="__PUBLICOLD__/bgadmin/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLICOLD__/bgadmin/css/alone.css">
    <style>
        .na{
            padding-right: 30px;
            height: auto;
            white-space: normal;
        }
    </style>
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <div class="admin-login-box">
                <!--<a class="logo" style="left: 0;" href="#">-->
                <!--<span style="font-size: 20px;color: #fff">总体部科研生产一体化管控平台</span>-->
                <img id="header-img" src="__PUBLICOLD__/img/运维管理系统.png"  height="40" style="margin-top: 8px;margin-left: 15px;">
                <!--</a>-->

            </div>
            <div class="admin-side-toggle">
                <i class="fa fa-angle-double-left" id="fa" aria-hidden="true"></i>
            </div>
            <ul class="layui-nav admin-header-item">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="admin-header-user" style="color: #fff">
                        欢迎您:&nbsp;&nbsp;<span><?php echo session('realusername');?></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="dd">
                            <a href="#" id="changepwd" >修改密码</a>
                        </dd>
                        <dd class="dd">
                            <a id="exit" href="{:U('Index/loginPage')}">安全退出</a>
                        </dd>
                        <!--<dd class="dd">-->
                        <!--<a href="{:U('Admin/Index/index')}" target="_blank">登录后台</a>-->
                        <!--</dd>-->
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side" style="overflow: scroll"></div>
    </div>
    <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul id="lay" class="layui-tab-title na">
                <li class="layui-this">
                    <!--<i class="fa fa-dashboard" aria-hidden="true"></i>-->
                    <cite>首页</cite>
                    <i class="fa fa-refresh distance" data-id="999"></i>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
                <div class="layui-tab-item layui-show">
                    <!--<iframe src="http://10.64.1.29:9704/analytics/saw.dll?PortalPages&_scid=25z2s8l6H8E&PortalPath=/shared/%e9%83%a8%e7%ba%a7/_portal/%e7%a7%91%e6%8a%80&Page=page%201&Done=Dashboard&NQUser=bld&NQPassword=bld"></iframe>-->
                    <iframe src="__MODULE__/Welcome/index" data-id="999"></iframe>
                </div>

            </div>
        </div>
    </div>
    <div class="layui-footer footer footer-demo" id="admin-footer">
        <div class="layui-main">
            <p>2017 &copy;<a href="#">五院信息中心</a></p>
        </div>
    </div>

    <script type="text/javascript" src="__PUBLICOLD__/bgadmin/plugins/layui/layui.js"></script>
    <!--<script type="text/javascript" src="__PUBLICOLD__/bgadmin/datas/nav.js"></script>-->
    <!--<script src="__PUBLICOLD__/js/jquery.min.js"></script>-->
    <!--<script src="__PUBLICOLD__/js/bootstrap.min.js"></script>-->

    <script>
        var navs = {$menus};
        layui.config({
            base: '__PUBLICOLD__/bgadmin/js/'
        }).use(['element', 'layer', 'navbar', 'tab'], function() {
            var element = layui.element(),
                    $ = layui.jquery,
                    layer = layui.layer,
                    navbar = layui.navbar(),
                    tab = layui.tab({
                        elem: '.admin-nav-card' //设置选项卡容器
                    });
            $('#header-img').on('click',function(){
                window.location.reload();
            });
            //iframe自适应
            $(".username").text('{$realusername}');
            $(window).on('resize', function() {
                var $content = $('.admin-nav-card .layui-tab-content');
                $content.height($(this).height() - 147);
                $content.find('iframe').each(function() {
                    $(this).height($content.height());
                });
            }).resize();

            //设置navbar
            navbar.set({
                spreadOne: true,
                elem: '#admin-navbar-side',
                cached: true,
                data: navs
                /*cached:true,
                 url: 'datas/nav.json'*/
            });
            //渲染navbar
            navbar.render();
            //监听点击事件
            navbar.on('click(side)', function(data) {
                tab.tabAdd(data.field);
            });

            $('#changepwd').on('click', function(){
                var changepwd = {
                    "title": "修改密码",
                    "icon": "fa-cubes",
                    "href": "{:U('Main/changepwd')}",
                    "spread": false
                };
                tab.tabAdd(changepwd);
            });

            $('.admin-side-toggle').on('click', function() {
                var sideWidth = $('#admin-side').width();
                if(sideWidth === 200) {
                    $('#admin-body').animate({
                        left: '0'
                    }); //admin-footer
                    $('#admin-footer').animate({
                        left: '0'
                    });
                    $('#admin-side').animate({
                        width: '0'
                    });
                    $('.admin-side-toggle').animate({
                        left: '0'
                    });
                    $('#fa').removeClass('fa-angle-double-left');
                    $('#fa').addClass('fa-angle-double-right');
                } else {
                    $('#admin-body').animate({
                        left: '200px'
                    });
                    $('#admin-footer').animate({
                        left: '200px'
                    });
                    $('#admin-side').animate({
                        width: '200px'
                    });
                    $('.admin-side-toggle').animate({
                        left: '190px'
                    });
                    $('#fa').removeClass('fa-angle-double-right');
                    $('#fa').addClass('fa-angle-double-left');
                }
            });

            // $('#lay').on('click','.layui-unselect',function(){
            //     $('#lay').addClass('na');
            //     $('#lay').on('click','span',function(){
            //         $('#lay').removeClass('na');
            //     })
            // })

            $('body').on('click','.fa', function(){
                var id = $(this).next().attr('data-id');
                var target = $('.layui-tab-item iframe[data-id="' + id + '"]');
                var url = target.attr('src');
                target.attr('src', url).load(function () {
                });
            });
        });

        function openApp(title,link){
            layui.config({
                base: '__PUBLICOLD__/bgadmin/js/'
            }).use(['element', 'layer', 'navbar', 'tab'], function() {
                var $ = layui.jquery,
                        tab = layui.tab({
                            elem: '.admin-nav-card' //设置选项卡容器
                        });
                var t = {
                    "title": title,
                    "href": link,
                    "spread": false,
                    "closed": true
                };
                tab.tabAdd(t);
            });
        }
    </script>
</div>
</body>
</html>