<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/jquery/jquery1.11.1.js"></script>
<script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.js"></script>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>工具软件添加编辑</title>
<style>
    .form-group {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .control-label {
        width: 150px !important;
        font-size: 13px!important;
    }
    .must_filter{
        color: red;
    }
    .form-control{
        display:inline-block;
    }

    .chosen-container{
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }
    .chosen-container{
        height: 100%;
        width:100%!important;
    }
    .modal-footer{
        margin: 0px;
        z-index: 999;
        position: fixed;
        bottom:0;
        left:0;
        font-family: cursive;
        width: 100%;
        height: 60px;
        background-color: #fff;
    }
    .modal-footer .form-group{
        position: absolute;
        top: -3px;
        left:50px;
        width: 85%;
    }

    .col-sm-3{
        width:54%!important;
        padding-left: 0!important;
    }
    .col-sm-3{
        padding-left:0;
        padding-right:0;
    }
    .remark{
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width:74px;
        font-size: 13px;
    }
    #sys_dlg_submit {
        margin-right: 30px;
    }
    table{
        table-layout: fixed;
        word-break: break-all;
    }

</style>
<body style="margin: 0 auto;overflow-x:hidden;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content" style="padding-bottom: 50px;">
        <div class="panel-body">
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>资产类型<span class="must_filter">*</span> </label>
                    <div class="col-sm-3" >
                        <select name="type" id="type" class="chosen-select">
                            <option value="">请选择 </option>
                            <foreach name="type" item="v">
                                <option value="{$v}">{$v}</option>
                            </foreach>

                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>资产名称</label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="type_name" id="type_name" value="<?php if(!empty($typeName))echo $typeName; ?>">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>IP地址</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" style="width:99%;" name="ip" id="ip" value="<?php if(!empty($data['ip']))echo $data['ip']; ?>">
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>周期  </label>
                    <div class="col-sm-3" >
                        <select  name="cycle" id="cycle" class="chosen-select" >
                            <option value=""> 请选择</option>
                            <?php foreach($zhouQi as $key=>$value){ ?>
                            <option <?php if($data['cycle'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
            <div style="width: 50%;float: left">
                <label class=' col-sm-2 control-label'>管理员A岗  </label>
                <div class="col-sm-3" >
                    <select name="admina"  class="chosen-select" id="admina">
                        <option value="<?php echo $adminA['username'];?>"><?php echo $adminA['name'];?></option>
                    </select>
                </div>
            </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>管理员B岗  </label>
                    <div class="col-sm-3" >
                        <select name="adminb"  class="chosen-select" id="adminb">
                            <option value="<?php echo $adminB['username'];?>"><?php echo $adminB['name'];?></option>
                        </select>
                    </div>
                </div>
                <div class="content" align="center" style="margin-top: 100px;width: 100%">
                    <table id="typetable" align="center" ></table>
                </div>


                </div>

        </div>

          <!--  <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>巡检内容 </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="content" id="content" value="<?php if(!empty($data['content']))echo $data['content']; ?>">
                    </div>
                </div>
            </div>-->



        </div>

        <input type="hidden" value="<?php if(!empty($data['appid'])) echo $data['appid']; ?>" name="appid" id="appid">
    </div>
    </div>
</form>

    <div class="modal-footer" style="margin: 0px;text-align:center;z-index: 999;position: fixed;bottom:0;left:0;font-family: cursive; width: 100%;height: 60px;background-color: #fff;">
        <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block;text-align:center;">保存</button>
    </div>

</body>
<script src="__PUBLIC__/js/tablecopy.js"></script>
<script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>

<script>

    $(function () {
        layui.use('layer', function() {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function(){
            $('#sys_dlg_form1').submit();
        })

        var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true , width: input_width+'px'});






        //管理员A岗
        $('#admina').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //管理员B岗
        $('#adminb').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });




        $.validator.setDefaults({
            highlight:function(element){
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $('#sys_dlg_form1').validate({
            onclick:false,
            onfocusout:false,
            onkeyup:false,
            submitHandler:function(){

                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData',formBody.serialize(), function (data) {
                    if (data.code > 0) {
//                        parent.$('#sys_refresh').click();
                        parent.$('#atpbiztable').bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                },'JSON');
            }
        });
    });

    //如果验证下拉框必填，请使用该方法
    //    function checkSelectForm(objArr, messageArr){
    //        var len = objArr.length;
    //        for(var i=0;i<len;i++){
    //            var obj = objArr[i];
    //            var val = $('#'+obj).val();
    //            if(!val){
    //                layer.msg('请选择'+messageArr[i]);
    //                $('#'+obj).trigger('chosen:open');
    //                return false;
    //            }
    //        }
    //        return true;
    //    }
</script>