<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>线路干扰器管理添加编辑</title>
<style>
    .form-group{
        margin-top: 26px;
    }
    .control-label{
        width:150px  !important;
    }
     .must_filter{
        color: red;
    }
    .form-control{
        display:inline-block;
    }
    .col-sm-3{
        width:60%  !important;
    }
    .chosen-container{
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }
     .chosen-container{
        height: 100%;
    }
</style>
<body style="margin: 0 auto;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content" style="padding-bottom: 50px;">
        <div class="panel-body">
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>设备编码 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_devicecode" id="xg_devicecode" value="<?php if(!empty($data['xg_devicecode']))echo $data['xg_devicecode']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>部标编码 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_anecode" id="xg_anecode" value="<?php if(!empty($data['xg_anecode']))echo $data['xg_anecode']; ?>">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>串扰器交换机地址 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_ip" id="xg_ip" value="<?php if(!empty($data['xg_ip']))echo $data['xg_ip']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>最远端 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_zyd" id="xg_zyd" value="<?php if(!empty($data['xg_zyd']))echo $data['xg_zyd']; ?>">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>次远端 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_cyd" id="xg_cyd" value="<?php if(!empty($data['xg_cyd']))echo $data['xg_cyd']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>路数 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_ls" id="xg_ls" value="<?php echo $data['xg_ls']; ?>">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>名称 <span class="must_filter">*</span></label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_name" id="xg_name" value="<?php if(!empty($data['xg_name']))echo $data['xg_name']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>主要用途 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_usage" id="xg_usage" value="<?php if(!empty($data['xg_usage']))echo $data['xg_usage']; ?>">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>厂家 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_factory" id="xg_factory" class="chosen-select" >
                     <option value=""> </option>
                     <?php foreach($changJia as $key=>$value){ ?>
                     <option <?php if($data['xg_factory'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_id}">{$value.dic_name}</option>
                     <?php } ?>
                    </select>
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>型号 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_modelnumber" id="xg_modelnumber" class="chosen-select" >
                     <option value=""> </option>
                    </select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>出厂编号 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_sn" id="xg_sn" value="<?php if(!empty($data['xg_sn']))echo $data['xg_sn']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>使用状态 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_status" id="xg_status" class="chosen-select" >
                     <option value=""></option>
                     <?php foreach($zhuangTai as $key=>$value){ ?>
                     <option <?php if($data['xg_status'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                     <?php } ?>
                    </select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>密级 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_secretlevel" id="xg_secretlevel" class="chosen-select" >
                     <option value=""> </option>
                     <?php foreach($miJi as $key=>$value){ ?>
                     <option <?php if($data['xg_secretlevel'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                     <?php } ?>
                    </select>
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>资产来源 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_assetsource" id="xg_assetsource" class="chosen-select" >
                     <option value=""> </option>
                     <?php foreach($ziYuanLaiYuan as $key=>$value){ ?>
                     <option <?php if($data['xg_assetsource'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                     <?php } ?>
                    </select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>资产责任单位 </label>
                    <div class="col-sm-3" >
                        <select name="xg_assetdutydept" id="xg_assetdutydept" class="chosen-select" >
                            <option value="<?php echo $dutydept['id'];?>"><?php echo $dutydept['name'];?></option>
                        </select>
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>使用责任单位 </label>
                    <div class="col-sm-3" >
                        <select  name="xg_assetusedept" id="xg_assetusedept" class="chosen-select" >
                            <option value="<?php echo $usedept['id'];?>"><?php echo $usedept['name'];?></option>
                        </select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>采购日期 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_purchasetime" id="xg_purchasetime" value="<?php if(!empty($data['xg_purchasetime']))echo $data['xg_purchasetime']; ?>" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>启用日期 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_startusetime" id="xg_startusetime" value="<?php if(!empty($data['xg_startusetime']))echo $data['xg_startusetime']; ?>" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>地区 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_area" id="xg_area" class="chosen-select" ><option value=""> </option>
                     <?php foreach($diQu as $key=>$value){ ?>
                     <option <?php if($data['xg_area'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_id}">{$value.dic_name}</option>
                     <?php } ?></select>
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>楼宇 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_belongfloor" id="xg_belongfloor" class="chosen-select" >
                     <option value=""> </option>
                    </select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>房间号 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="xg_roomno" id="xg_roomno" value="<?php if(!empty($data['xg_roomno']))echo $data['xg_roomno']; ?>">
                   </div>
                </div>
                <div style="width: 50%;float: left">
                  <label class=' col-sm-2 control-label'>交换机端口 </label>
                     <div class="col-sm-3" >
                     <input type="text" class="form-control" style="width:99%;" name="xg_swinterface" id="xg_swinterface" value="<?php if(!empty($data['xg_swinterface']))echo $data['xg_swinterface']; ?>">
                    </div>
                 </div>
           </div>
           <div class="form-group">
            <div style="width: 50%;float: left">
               <label class=' col-sm-2 control-label'>责任人 </label>
                  <div class="col-sm-3" >
                  <select  name="xg_dutyman" id="xg_dutyman" class="chosen-select" >
                     <option value="<?php echo $dutuser['username'];?>"><?php echo $dutuser['name'];?></option>
                  </select>
                 </div>
              </div>
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>使用人 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_useman" id="xg_useman" class="chosen-select" >
                     <option value="<?php echo $userman['username'];?>"><?php echo $userman['name'];?></option>
                    </select>
                   </div>
                </div>
                
           </div>
           <!-- <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>使用部门 </label>
                    <div class="col-sm-3" >
                    <select  name="xg_usedept" id="xg_usedept" class="chosen-select" ></select>
                   </div>
                </div>
                <div style="width: 50%;float: left">
                  <label class=' col-sm-2 control-label'>责任部门 </label>
                     <div class="col-sm-3" >
                     <select  name="xg_dutydept" id="xg_dutydept" class="chosen-select" ></select>
                    </div>
                 </div>
                
           </div> -->
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>备注 </label>
                    <div class="col-sm-3" >
                    <textarea name="xg_remark" id="xg_remark"   style="height:40px" class="form-control"><?php if(!empty($data['xg_remark']))echo $data['xg_remark']; ?></textarea>
                   </div>
                </div>

            </div>
        <input type="hidden" value="<?php if(!empty($data['xg_atpid'])) echo $data['xg_atpid']; ?>" name="xg_atpid" id="xg_atpid">
        <input type="hidden" value="<?php if(!empty($xg_type)) echo $xg_type; ?>" name="xg_type">
       </div>
    </form>
    <div class="modal-footer" style="margin: 0px;text-align:center;z-index: 999;position: fixed;bottom:0;left:0;font-family: cursive; width: 100%;height: 60px;background-color: #fff;">
        <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block;text-align:center;">保存</button>
    </div>
</body>
<script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
<script>
    $(function () {
        layui.use('layer', function() {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function(){
            $('#sys_dlg_form1').submit();
        })
        var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true, width: input_width+'px'});
         //使用人
         $('#xg_useman').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });
        //责任人
        $('#xg_dutyman').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });
        //使用责任单位
        $('#xg_assetusedept').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assigndept'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });
        //资产责任单位
        $('#xg_assetdutydept').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assigndept'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });
        //选择地区触发楼宇
        $('#xg_area').change(function () {
            var id = $(this).val();
            dic_louyu(id);
        });

        //设置楼宇
        var areaid = $("#xg_area").val();
        if(areaid != ''){
            var next_id = "<?php echo $data['xg_belongfloor'];?>";
            dic_louyu(areaid,next_id);
        }

        //楼宇
        function dic_louyu(id,next_id){
            if(next_id == 'undefined'){next_id = ''}
            if(!id)  return false;
            $.ajax({
                type:'post',
                url:'__MODULE__/dic/getDicLouYu',
                data:{pid: id},
                dataType :'json',
                success:function(data){
                    if (data.code > 0) {
                        var str=  '<option value=""> </option>';
                        $.each(data.results,function(k,v){
                            var sele = '';
                            if(next_id == v['dic_name']){sele = 'selected'}
                            str += "<option "+sele+" value='"+v['dic_id']+"'>"+v['dic_name']+"</option>";
                        });
                        $('#xg_belongfloor option').remove();
                        $('#xg_belongfloor').append(str);
                        $('#xg_belongfloor').trigger("chosen:updated");
                    } else {
                        layer.alert(data.message);
                    }
                },
                error:function(){
                    layer.alert('出错啦！请联系管理员');
                }
            });
        }

        //选择厂家触发型号
        $('#xg_factory').change(function () {
            var id = $(this).val();
            dic_xinghao(id);
        });
        //设置型号
        var factoryid = $("#xg_factory").val();
        if(factoryid != ''){
            var next_id = "<?php echo $data['xg_modelnumber'];?>";
            dic_xinghao(factoryid,next_id);
        }
        //型号
        function dic_xinghao(id,next_id){
            if(next_id == 'undefined'){next_id = ''}
            if(!id) return false;
            $.ajax({
                type:'post',
                url:'__MODULE__/dic/getDicXingHao',
                data:{pid: id,pid2:'线路干扰器'},
                dataType :'json',
                success:function(data){
                    if (data.code > 0) {
                        var str=  '<option value=""> </option>';
                        $.each(data.results,function(k,v){
                            var sele = '';
                            if(next_id == v['dic_name']){sele = 'selected'}
                            str += "<option "+sele+" value='"+v['dic_id']+"'>"+v['dic_name']+"</option>";
                        });
                        $('#xg_modelnumber option').remove();
                        $('#xg_modelnumber').append(str);
                        $('#xg_modelnumber').trigger("chosen:updated");
                    } else {
                        layer.alert(data.message);
                    }
                },
                error:function(){
                    layer.alert('出错啦！请联系管理员');
                }
            });
        }
        $.validator.setDefaults({
            highlight:function(element){
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $('#sys_dlg_form1').validate({
            onclick:false,
            onfocusout:false,
            onkeyup:false,
            // 如果是下拉菜单，这里的require是不生效的，需要自己在submitHandle方法中添加验证
            rules:{
                xg_name:'required',xg_ls:'number'
            },
            messages:{
                xg_name:'请输入名称',xg_ls:'请输入正整数'
            },submitHandler:function(){
                var xg_status = $('#xg_status').val();
                if(xg_status == ''){
                    layer.alert("使用状态不可为空！");
                    return false;
                }
                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData',formBody.serialize(), function (data) {
                    if (data.code > 0) {
                        parent.$('#atpbiztable').bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                },'JSON');
            }
        });
    });
    //如果验证下拉框必填，请使用该方法
//    function checkSelectForm(objArr, messageArr){
//        var len = objArr.length;
//        for(var i=0;i<len;i++){
//            var obj = objArr[i];
//            var val = $('#'+obj).val();
//            if(!val){
//                layer.msg('请选择'+messageArr[i]);
//                $('#'+obj).trigger('chosen:open');
//                return false;
//            }
//        }
//        return true;
//    }
</script>