<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLICOLD__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLICOLD__/vendor/My97DatePicker/WdatePicker.js"></script>
<title>调整</title>
<style>
    .form-group{
        margin-top: 26px;
    }
    .control-label{
        width:150px;
    }
    .chosen-container .chosen-results {
        max-height: 180px;
    }
</style>
<body style="margin: 0 auto;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
        <div class="tab-content" >
            <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">调整时间：</label>
                        <input id="td_modifyfinishdate" name="td_modifyfinishdate" class="form-control" style="width:300px;display: inline-block"  value="{$data.td_modifyfinishdate}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="vertical-align: top">调整情况：</label>
                        <textarea name="td_modifyresult" id="td_modifyresult" style="width:600px;height: 150px;">{$data.td_modifyresult}</textarea>
                    </div>
                 </div>
            <input type="hidden" value="{$data.td_id}" name="td_id">
        </div>
    </form>
<div class="modal-footer" style="margin-top: 30px">
    <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="margin-right: 20px;">保存</button>
</div>
</body>
<script src="__PUBLICOLD__/vendor/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="__PUBLICOLD__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLICOLD__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
<script src="__PUBLICOLD__/vendor/validate/jquery.validate.min.js"></script>
<script>
$(function () {
    layui.use('layer', function() {
        layer = layui.layer;
    })
    $('#sys_dlg_submit').click(function(){
        $('#sys_dlg_form1').submit();
    })
    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: '300px'});

    $("#jingbanren").chosen({disable_search_threshold: 0, search_contains: true, width: '760px'});

    $('#jingbanren').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url:'__CONTROLLER__/getUserLists'
    });
    $.validator.setDefaults({
        highlight:function(element){
            $(element).parent().remove('has-success').addClass('has-error');
        },
        success:function(element){
            $(element).parent().remove('has-error').addClass('has-success');
        },
        errorPlacement:function(error,element){
            if(element.is(":radio") || element.is(":checkbox")){
                error.appendTo(element.parent());
            }else{
                error.appendTo(element.parent());
            }
        },
        errorClass:"help-block m-b-none",
        validClass:"help-block m-b-none"
    });
    $('#sys_dlg_form1').validate({
        onclick:false,
        onfocusout:false,
        onkeyup:false,
        rules:{
            td_modifyfinishdate:'required'
        },
        messages:{
            td_modifyresult:'请输入调整情况'
        },submitHandler:function(){
            var formBody = $('#sys_dlg_form1');
            $.post('__CONTROLLER__/adSubmit',formBody.serialize(), function (data) {
                if (data.code > 0) {
                    parent.$('#atpbiztable').bootstrapTable('refresh');
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                } else {
                    layer.alert(data.message);
                }
            },'JSON');
        }
    });


});
</script>