<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<style>
    th{
        text-align: center;
    }
    .wrapper .wrapper-content{
        padding-bottom: 0;
    }
    table{
        table-layout: fixed;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content " style="">
    <div class="ibox float-e-margins">
        <div class="ibox-content" style="border: none">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-warning " style="margin-left: 10px; background-color: yellowgreen;border-color: yellowgreen;" type="button" id="sys_add" >新建</a>
                    <button class="btn btn-info" style="margin-left: 10px; background-color: cadetblue;border-color: cadetblue;" type="button" id="sys_del">删除</button>
                    <button class="btn btn-warning" style="margin-left: 10px;" type="button" data-head="待办事项,计划完成时间,责任单位,督办人,责任处室,责任领导" data-extraparam="{$id}" data-remark="支持从Excel批量拷贝粘贴" id="sys_batchadd" data-method="Admin/Yuan/saveCopyTables">批量增加</button>
                    <button class="btn btn-info" style=" background-color: forestgreen;border-color: forestgreen;margin-left: 10px;display:none;" type="button" id="sys_refresh" >查询</button>
                    <table id="atpbiztable" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="choosemenu" id="choosemenu" value="{$id}"/>
<script src="__PUBLICOLD__/js/tablecopy.js"></script>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })

    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getData',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
//                toolbar: '#atpbiztoolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "td_id",
                sortOrder: "asc",                   //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 15,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
//            strictSearch: true,
//            showColumns: true,                  //是否显示所有的列
//            showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "td_id",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [[
                    {checkbox: true, width: 40},
                    {
                        title: '序号', width: 60,
                        formatter: function (value, row, index) {
                            var option = $('#atpbiztable').bootstrapTable("getOptions");
                            return option.pageSize * (option.pageNumber - 1) + index + 1;
                        }
                    },
                    {field: 'meettype', title: '管理活动类别', sortable: true, width: 120},
                    {field: 'meetname', title: '管理活动名称', sortable: true, width: 250},
                    {field: 'meetdate', title: '召开时间', sortable: true, width: 100},
                    {field: 'td_name', title: '待办事项', sortable: true, width: 250},
                    {field: 'td_planfinishdate', title: '计划完成<br/>时间', sortable: true, width: 100},
                    {field: 'td_modifyfinishdate', title: '预计完成<br/>时间', sortable: true, width: 100},
                    {field: 'td_unit', title: '责任单位', sortable: true, width: 120},
                    {field: 'td_confirmtime', title: '实际完成时间', sortable: true, width: 120},
                    {field: 'td_kybchargeman', title: '督办人', sortable: true, width: 75},
                    {field: 'td_kybunit', title: '责任处室', sortable: true, width: 100},
                    {field: 'td_kybleader', title: '责任领导', sortable: true, width: 85},
                    {field: 'status', title: '完成确认', sortable: true,width:80},
                ]],
                onDblClickRow: function (row) {
                    updateInRow(row['td_id']);
                }
            });
        }
    }
    TableObj.oTableInit();
    function queryParams(params) {  //配置参数
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            mt_id:$('#choosemenu').val()
        };
        return temp;
    }
    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });

    $('#sys_add').click(function(){
        var mt_id = $('#choosemenu').val();
        updateInRow(mt_id);
    })


    function updateInRow(id)
    {
        var mt_id=$('#choosemenu').val();
        layer.open({
            title:'待办事项编辑',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content:'__CONTROLLER__/addNoPower?id='+id+'&mt_id='+mt_id,
            area: ['1000px', '510px']
        });
    }

    $('#sys_del').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            layer.confirm('确认删除' + tablerow.length + '条数据?',{btn:['确定','取消']},function(){
                var ids = [];
                $.each(tablerow, function () {
                    ids.push(this['td_id']);
                });
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/del',
                    data:{ids: ids.join(',')},
                    dataType :'json',
                    success:function(data){
                        if(data.code > 0){
                            layer.msg('操作成功');
                        }else{
                            layer.alert(data.message);
                        }
                        $('#atpbiztable').bootstrapTable('refresh')
                    }
                })
            })
        }
    });
</script>
</body>

</html>
