<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<link href="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" >
<style>
    th{
        text-align: center;
    }
    .form-control{
        display: inline-block;
        width: 250px;
    }
    .wrapper .wrapper-content{
        padding-bottom: 0;
    }
    .control-label{
        font-size: 14px!important;
    }
    .fixed-table-toolbar{
        display: none;
    }
    table{
        table-layout: fixed;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content " style="">
    <div class="row">
        <div class="col-sm-12">
            <table id="atpbiztable" ></table>
        </div>
    </div>
</div>
<input type="hidden" value="{$ip}" id="ipaddress">
<div id="sys_dlg" role="dialog" class="modal fade "></div>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-editable/js/bootstrap-editable.js"></script>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    pstatus = true;

    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: '180px'});
    fixed();
    function fixed(){
        var h  = $(window).height() - 80;
        $('table').attr('data-height',h);
    }
    $('#user').ajaxChosen({
        dataType: 'json',
        type: 'POST',
        url:'__CONTROLLER__/assignusered'
    },{
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });
    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getViewData',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#atpbiztoolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: pstatus,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "atpid",
                sortOrder: "asc",                   //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 18,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
//            strictSearch: true,
//            showColumns: true,                  //是否显示所有的列
//            showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "atpid",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [[
                    {
                        title: '序号', width: 40,
                        formatter: function (value, row, index) {
                            var option = $('#atpbiztable').bootstrapTable("getOptions");
                            return option.pageSize * (option.pageNumber - 1) + index + 1;
                        }
                    },
                    {field: 'ip', title: 'IP地址', sortable: true, width: 100},
//
                    {field: 'type', title: '资源类型', sortable: true, width: 100, visible: true},
                    {field: 'status', title: '状态', sortable: true, width: 100},
                    {field: 'subip', title: '子IP', sortable: true, width: 100},
                    {field: 'iloip', title: 'ILOIP', sortable: true, width: 100},
                    {field: 'atpid', title: '操作', sortable: true, width: 100, visible: true,
                        formatter: function (value, row, index) {
                            var inp  = "'" + row.atpid + "'";
                            var table  ="'" + row.table + "'";
                            var a = '<a  class="btn btn-info btn-xs" onclick="read(' + inp + ','+ table +')">详情</a>';
                            return a;
                        }
                    }
                ]
                ]
            });
        }
    }
    TableObj.oTableInit();

    function queryParams(params) {  //配置参数
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            ipaddress:$('#ipaddress').val()
        };
        return temp;
    }
    $('#sys_refresh').on('click',function() {

        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });

    function updateInRow(id)
    {
        layer.open({
            title:'IP地址状态修改',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__CONTROLLER__/status?id='+id,
            area: ['70%', '40%']
        });
    }

    function read(id,table)
    {
        if(table == 'it_sev'){
            layer.open({
                title:'IP地址',
                closeBtn:1,
                type: 2,
                shadeClose:false,
                content:'__MODULE__/Sev/add?sev_atpid='+id+'&type='+'服务器',
                area: ['98%', '90%']
            });
        }else if(table == 'it_sevv'){
            layer.open({
                title:'IP地址',
                closeBtn:1,
                type: 2,
                shadeClose:false,
                content: '__MODULE__/Sev/virtualAdd?sevv_atpid='+id+'&type='+'虚拟机',
                area: ['98%', '90%']
            });
        }

    }

    $('#sys_reset').click(function(){
        $('.form-control').val('');
        $('.chosen-select').val('');
        $('.chosen-select').trigger("chosen:updated");
        $('#sys_refresh').click()
    })




</script>
</body>

</html>




