<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>用户填写计算机信息</title>
<style>

    .chosen-container .chosen-results {
        max-height: 180px;
    }
    .test1 td{
        height: 50px;
    }
    .test2 td{
        width: 170px;
        height: 130px;
    }
    .test3 td{
        width: 160px;
        height: 130px;
    }
    .test4 td{
        height: 50px;
    }
    .test5 td{
        height: 50px;
    }
    .test6 td{
        height: 50px;
    }
    .write{
        font-weight: bold;
    }
</style>
<body style="margin: 0 auto;">
<!--<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">-->
    <div>
        <center>
        <table border="1" style="width: 1000px;;">
            <tr class="test1">
                <if condition="$Rtype eq 4">
                    <td colspan="6" class="write">用户填写设备信息</td>
                <else />
                    <td colspan="6" class="write">用户填写计算机信息<if condition="$biao eq 1 and $Rtype eq 1"><button type="button" data-dismiss="modal" id="sys_submit" class="btn btn-info" >选择设备</button></if></td>
                </if>
            </tr>
            <if condition="$Rtype eq 4">
                <tr class="test4">
                    <td>资产类型</td>
                    <td colspan="3">
                        <select name="zichan" id="zichan" class="chosen-selected">
                            <option value=""> </option>
                            <option value="视频会议终端" <?php if($zichan == 视频会议终端){echo selected;}?>>视频会议终端</option>
                            <option value="打印机" <?php if($zichan == 打印机){echo selected;}?>>打印机</option>
                            <option value="刷卡器" <?php if($zichan == 刷卡器){echo selected;}?>>刷卡器</option>
                            <option value="自助导出刻录机" <?php if($zichan == 自助导出刻录机){echo selected;}?>>自助导出刻录机</option>
                            <option value="自助导入" <?php if($zichan == 自助导入){echo selected;}?>>自助导入</option>
                            <option value="扫描仪" <?php if($zichan == 扫描仪){echo selected;}?>>扫描仪</option>
                            <option value="实验设备" <?php if($zichan == 实验设备){echo selected;}?>>实验设备</option>
                        </select>
                    </td>
                    <td colspan="2">
                        <select name="sk" id="sk" class="chosen-selected" multiple disabled>
                            <option value=""> </option>
                            <option value="刷卡器1" <?php if(in_array(刷卡器1,$sk)){echo selected;}?>>刷卡器1</option>
                            <option value="刷卡器2" <?php if(in_array(刷卡器2,$sk)){echo selected;}?>>刷卡器2</option>
                            <option value="刷卡器3" <?php if(in_array(刷卡器3,$sk)){echo selected;}?>>刷卡器3</option>
                        </select>
                    </td>
                </tr>
            </if>
            <if condition="$Rtype eq 3">
                <tr>
                    <td>会议室类型</td>
                    <td colspan="5">
                        <input type="radio" value="部/所会议室" id="hui" name="hui" <?php if($hui == 部/所会议室){echo checked;}?>>部/所会议室
                        <input type="radio" value="处室内部会议室" id="hui" name="hui" style="margin-left: 100px;" <?php if($hui == 处室内部会议室){echo checked;}?> >处室内部会议室
                        <input type="radio" value="其他" id="hui" name="hui" style="margin-left: 100px;" <?php if($hui == 其他){echo checked;}?> >其他
                    </td>
                </tr>
                <tr>
                    <td>计算机类型</td>
                    <td colspan="5">
                        <input type="radio" value="涉密网计算机" id="ji" name="ji"  <?php if($ji == 涉密网计算机){echo checked;}?>>涉密网计算机
                        <input type="radio" value="廋客户机" id="ji" name="ji" style="margin-left: 100px;" <?php if($ji == 廋客户机){echo checked;}?>>廋客户机
                    </td>
                </tr>
            </if>
            <tr class="test2">
                <td class="write">地区</td>
                <td>
<!--                    <select  name="area" id="area" class="chosen-select">-->
<!--                        <option value="">请选择</option>-->
<!--&lt;!&ndash;                        <?php foreach($diQu as $key=>$value){ ?>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option <?php if($data['sev_area'] == $value['dic_id']) echo 'selected'; ?> value="{$value.dic_id}">{$value.dic_name}</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <?php } ?>&ndash;&gt;-->
<!--                        <option value="航天城">航天城</option>-->
<!--                    </select>-->


                    <select name="area" id="area" class="chosen-select">
                        <option value=""> </option>
                        <?php foreach($diQu as $key=>$value){ ?>
                        <option <?php if($area == $value['dic_name']) echo 'selected'; ?>
                        value="{$value.dic_id}" >{$value.dic_name}</option>
                        <?php } ?>
                    </select>
                </td>
                <td class="write">楼宇</td>
                <td>
                    <select name="louyu" id="louyu" class="chosen-select">
                        <option value=""> </option>
                    </select>
                </td>
                <td class="write">房间号</td>
                <td><input type="text" id="roomno" value="<?php if(!empty($roomno))echo $roomno; ?>" name="roomno"></td>
            </tr>
            <tr class="test3">
                <td class="write">资产编号</td>
                <td><input type="text" id="card" name="card" value="<?php if(!empty($card))echo $card; ?>" <if condition="$biao eq 1">
                    readonly
                </if>></td>
                <td class="write">MAC地址</td>
                <td><input type="text" id="mac" name="mac" value="<?php if(!empty($mac))echo $mac; ?>" <if condition="$biao eq 1">
                    readonly
                </if>></td>
                <td></td>
                <td></td>
            </tr>
            <if condition="$Rtype neq 4">
                <tr class="test4">
                    <td colspan="2">
                        <center>
                            <input type="radio" value="物理终端" name="zhong" id="zhong" <if condition="$zhong eq 物理终端 ">
                            checked
                        </if>  <if condition="$biao neq 3 ">
                            disabled
                        </if>>物理终端(本地有硬盘)
                        </center>
                    </td>
                    <td colspan="2">
                        <center>
                            <input type="radio" value="虚拟化终端"  name="zhong" id="zhong" <if condition="$zhong eq 虚拟化终端 ">
                            checked
                        </if>  <if condition="$biao neq 3 ">
                            disabled
                        </if>>虚拟化终端(本地无硬盘)
                        </center>
                    </td>
                    <td colspan="2">
                        <if condition="$Rtype eq 5">
                        <center>
                            <input type="radio" value="中转用机" name="zhong" id="zhong"
                            checked>中转用机
                        </center>
                        </if>
                    </td>
                </tr>
            </if>
            <if condition="$Rtype eq 4">
                <tr class="test4">
                    <td class="write">刷卡器</td>
                    <td> <select name="isSk" id="isSk" class="chosen-select">
                        <option value=""> </option>
                        <option value="是" <?php if($isSk == 是){echo selected;}?>>是</option>
                        <option value="否" <?php if($isSk == 否){echo selected;}?>>否</option>
                    </select></td>
                    <td class="write">刷卡器MAC</td>
                    <td><input type="text" id="Smac" name="Smac" value="<?php if(!empty($Smac))echo $Smac; ?>" >
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </if>
            <tr class="test5">
                <td colspan="2"><button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn" >下一步</button></td>
                <td colspan="2"><button type="button" data-dismiss="modal" id="back" class="btn" >返回</button></td>
                <td colspan="2"><button type="button" data-dismiss="modal" id="cancel" class="btn" >取消</button></td>
            </tr>
            <button type="button" data-dismiss="modal" id="refresh" style="display: none" class="btn" >下一步</button>
            <input type="hidden" id="miji" value="{$miji}">
            <tr class="test6">
                <td colspan="6" class="write">注：用户终端相关资产信息可咨询仪器设备管理部门</td>
            </tr>
        </table>
        </center>
    </div>
<!--</form>-->
</body>
<script src="__PUBLIC__/js/tablecopy.js"></script>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script>

    $(function () {
        // layui.use('layer', function() {
        //     var layer = layui.layer;
        //     layer.open({
        //         title:'选择设备',
        //         closeBtn:1,
        //         type: 2,
        //         shadeClose:false,
        //         content: '__CONTROLLER__/select',
        //         area: ['55%', '55%']
        //     });
        // })
        var biao = '{$biao}';
        var area = '{$area}';
        var Rtype = '{$Rtype}';

        if(biao==1 && area =='' && Rtype == 1){
            six();
        }

        function six(){
            layui.use('layer', function() {
                var layer = layui.layer;
                layer.open({
                    title:'选择设备',
                    closeBtn:1,
                    type: 2,
                    shadeClose:false,
                    content: '__CONTROLLER__/select',
                    area: ['55%', '55%']
                });
            })
        }

        $('#sys_submit').click(function(){
            six();
        })
        $('#refresh').click(function(){
            location.reload(true);
        })

        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true, width: 150});
        $('.chosen-selected').chosen({disable_search_threshold: 0, search_contains: true, width: '300px'});

        //申请人
        $('#username').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //选择地区触发楼宇
        $('#area').change(function () {
            var id = $(this).val();
            dic_louyu(id);
        });

        //设置楼宇
        var areaid = $("#area").val();
        if (areaid != '') {
            var next_name = "<?php echo $louyu;?>";
            dic_louyu(areaid, next_name);
        }

        //楼宇
        function dic_louyu(id, next_name) {
            if (next_name == 'undefined') { next_name = '' }
            if (!id) return false;
            $.ajax({
                type: 'post',
                url: '__MODULE__/dic/getDicLouYu',
                data: { pid: id },

                dataType: 'json',
                success: function (data) {
                    if (data.code > 0) {
                        var str = '<option value=""> </option>';
                        $.each(data.results, function (k, v) {
                            var sele = '';
                            if (next_name == v['dic_name']) { sele = 'selected' }
                            str += "<option " + sele + " value='" + v['dic_id'] + "'>" + v['dic_name'] + "</option>";
                        });
                        $('#louyu option').remove();
                        $('#louyu').append(str);
                        $('#louyu').trigger("chosen:updated");
                    } else {
                        layer.alert(data.message);
                    }
                },
                error: function () {
                    layer.alert('出错啦！请联系管理员');
                }
            });
        }

        $('#zichan').change(function(){
            var zi = $(this).val();
            if(zi == '打印机' || zi == '自助导出刻录机' || zi == '自助导入' || zi == '扫描仪' ){
                $('#sk').removeAttr("disabled")
            }
        })



        $("#sys_dlg_submit").on('click',function(){
            var mac = $('#mac').val();
            var miji = $('#miji').val();
            if(mac != ''){
                $.ajax({
                    data:{mac:mac},
                    url:'__CONTROLLER__/isMac',
                    type:'post',
                    dataType:'json',
                    success:function(rep){
                        if(rep.code < 0){
                            alert(rep.message);
                            return false;
                        }
                    }
                })
            }
            if(miji != ''){
                $.ajax({
                    data:{miji:miji},
                    url:'__CONTROLLER__/isMJ',
                    type:'post',
                    dataType:'json',
                    success:function(rep){
                        // alert(rep.code);return;
                        if(rep.code == '-1'){
                            alert(rep.message);
                            tiao()
                        }else if(rep.code == '-2'){
                            alert(rep.message);
                            return false;
                        }else{
                            tiao()
                        }
                    }
                })
            }else{
                tiao()
            }
        })

        function tiao(){
            var area = $('#area').val();
            var louyu = $('#louyu').val();
            var roomno = $('#roomno').val();
            var card = $('#card').val();
            var mac = $('#mac').val();

            var zhong = $('#zhong').val();
            var zichan = $('#zichan').val();
            var sk = $('#sk').val();

            var hui = $('#hui').val();
            var ji = $('#ji').val();

            var isSk = $('#isSk').val();
            var Smac = $('#Smac').val();
            var type = '{$Rtype}'

            if(type ==1 ){
                location.href='__CONTROLLER__/app?area='+area+'&louyu='+louyu+'&roomno='+roomno+'&card='+card+'&mac='+mac+'&zhong='+zhong+'&zichan='+zichan+'&sk='+sk+'&hui='+hui+'&ji='+ji+'&isSk='+isSk+'&Smac='+Smac
            }else if(type == 5 ){
                location.href='__CONTROLLER__/User?area='+area+'&louyu='+louyu+'&roomno='+roomno+'&card='+card+'&mac='+mac+'&zhong='+zhong+'&zichan='+zichan+'&sk='+sk+'&hui='+hui+'&ji='+ji+'&isSk='+isSk+'&Smac='+Smac+'&biao=1'
            }else{
                location.href='__CONTROLLER__/read?area='+area+'&louyu='+louyu+'&roomno='+roomno+'&card='+card+'&mac='+mac+'&zhong='+zhong+'&zichan='+zichan+'&sk='+sk+'&hui='+hui+'&ji='+ji+'&isSk='+isSk+'&Smac='+Smac+'&biao=1'
            }
        }

        $("#back").on('click',function(){
            history.back(1)
        })

        $('#cancel').on('click',function(){
            location.href='__CONTROLLER__/first';
        })

    });
</script>