<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>用户填写计算机信息</title>
<style>

    .chosen-container .chosen-results {
        max-height: 180px;
    }
    .test1 td{
        height: 50px;
    }
    .test2 td{
        width: 170px;
        height: 130px;
    }
    .test3 td{
        width: 160px;
        height: 130px;
    }
    .test4 td{
        height: 50px;
    }
    .test5 td{
        height: 50px;
    }
    .test6 td{
        height: 50px;
    }
    .write{
        font-weight: bold;
    }
</style>
<body style="margin: 0 auto;">
<!--<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">-->
    <div>
        <center>
        <table border="1" style="width: 1000px;;">
            <tr class="test1">
                <td colspan="6" class="write">用户填写计算机信息<if condition="$biao eq 1"><button type="button" data-dismiss="modal" id="sys_submit" class="btn btn-info" >选择设备</button></if></td>
            </tr>
            <tr class="test2">
                <td class="write">地区</td>
                <td>
<!--                    <select  name="area" id="area" class="chosen-select">-->
<!--                        <option value="">请选择</option>-->
<!--&lt;!&ndash;                        <?php foreach($diQu as $key=>$value){ ?>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option <?php if($data['sev_area'] == $value['dic_id']) echo 'selected'; ?> value="{$value.dic_id}">{$value.dic_name}</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <?php } ?>&ndash;&gt;-->
<!--                        <option value="航天城">航天城</option>-->
<!--                    </select>-->


                    <select name="area" id="area" class="chosen-select">
                        <option value=""> </option>
                        <?php foreach($diQu as $key=>$value){ ?>
                        <option <?php if($area == $value['dic_name']) echo 'selected'; ?>
                        value="{$value.dic_id}" >{$value.dic_name}</option>
                        <?php } ?>
                    </select>
                </td>
                <td class="write">楼宇</td>
                <td>
                    <select name="louyu" id="louyu" class="chosen-select">
                        <option value=""> </option>
                    </select>
                </td>
                <td class="write">房间号</td>
                <td><input type="text" id="roomno" value="<?php if(!empty($roomno))echo $roomno; ?>" name="roomno"></td>
            </tr>
            <tr class="test3">
                <td class="write">资产编号</td>
                <td><input type="text" id="card" name="card" value="<?php if(!empty($card))echo $card; ?>" <if condition="$biao eq 1">
                    readonly
                </if>></td>
                <td class="write">MAC地址</td>
                <td><input type="text" id="mac" name="mac" value="<?php if(!empty($mac))echo $mac; ?>" <if condition="$biao eq 1">
                    readonly
                </if>></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="test4">
                <td colspan="3">
                    <center>
                        <input type="radio" value="物理终端" id="zhong" <if condition="$zhong eq 物理终端 ">
                        checked
                    </if> name="zhong" <if condition="$biao neq 3 ">
                        disabled
                    </if>>物理终端(本地有硬盘)
                    </center>
                </td>
                <td colspan="3">
                    <center>
                        <input type="radio" value="虚拟化终端" id="zhong" <if condition="$zhong eq 虚拟化终端 ">
                        checked
                    </if> name="zhong" <if condition="$biao neq 3 ">
                        disabled
                    </if>>虚拟化终端(本地无硬盘)
                    </center>
                </td>
            </tr>
            <tr class="test5">
                <td colspan="2"><button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn" >下一步</button></td>
                <td colspan="2"><button type="button" data-dismiss="modal" id="back" class="btn" >返回</button></td>
                <td colspan="2"><button type="button" data-dismiss="modal" id="cancel" class="btn" >取消</button></td>
            </tr>
            <button type="button" data-dismiss="modal" id="refresh" style="display: none" class="btn" >下一步</button>
            <input type="hidden" id="miji" value="{$miji}">
            <tr class="test6">
                <td colspan="6" class="write">注：用户终端相关资产信息可咨询仪器设备管理部门</td>
            </tr>
        </table>
        </center>
    </div>
<!--</form>-->
</body>
<script src="__PUBLIC__/js/tablecopy.js"></script>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script>

    $(function () {
        // layui.use('layer', function() {
        //     var layer = layui.layer;
        //     layer.open({
        //         title:'选择设备',
        //         closeBtn:1,
        //         type: 2,
        //         shadeClose:false,
        //         content: '__CONTROLLER__/select',
        //         area: ['55%', '55%']
        //     });
        // })
        var biao = '{$biao}';
        var area = '{$area}';
        if(biao==1 && area ==''){
            six();
        }
        function six(){
            layui.use('layer', function() {
                var layer = layui.layer;
                layer.open({
                    title:'选择设备',
                    closeBtn:1,
                    type: 2,
                    shadeClose:false,
                    content: '__CONTROLLER__/select',
                    area: ['55%', '55%']
                });
            })
        }

        $('#sys_submit').click(function(){
            six();
        })
        $('#refresh').click(function(){
            location.reload(true);
        })

        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true, width: 150});

        //申请人
        $('#username').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url:'__MODULE__/org/assignuser'
        },{
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //选择地区触发楼宇
        $('#area').change(function () {
            var id = $(this).val();
            dic_louyu(id);
        });

        //设置楼宇
        var areaid = $("#area").val();
        if (areaid != '') {
            var next_name = "<?php echo $louyu;?>";
            dic_louyu(areaid, next_name);
        }

        //楼宇
        function dic_louyu(id, next_name) {
            if (next_name == 'undefined') { next_name = '' }
            if (!id) return false;
            $.ajax({
                type: 'post',
                url: '__MODULE__/dic/getDicLouYu',
                data: { pid: id },

                dataType: 'json',
                success: function (data) {
                    if (data.code > 0) {
                        var str = '<option value=""> </option>';
                        $.each(data.results, function (k, v) {
                            var sele = '';
                            if (next_name == v['dic_name']) { sele = 'selected' }
                            str += "<option " + sele + " value='" + v['dic_id'] + "'>" + v['dic_name'] + "</option>";
                        });
                        $('#louyu option').remove();
                        $('#louyu').append(str);
                        $('#louyu').trigger("chosen:updated");
                    } else {
                        layer.alert(data.message);
                    }
                },
                error: function () {
                    layer.alert('出错啦！请联系管理员');
                }
            });
        }



        $("#sys_dlg_submit").on('click',function(){
            var area = $('#area').val();
            var louyu = $('#louyu').val();
            var roomno = $('#roomno').val();
            var card = $('#card').val();
            var mac = $('#mac').val();
            var zhong = $('#zhong').val();
            var miji = $('#miji').val();
            if(mac != ''){
                $.ajax({
                    data:{mac:mac},
                    url:'__CONTROLLER__/isMac',
                    type:'post',
                    dataType:'json',
                    success:function(rep){
                        if(rep.code < 0){
                            alert(rep.message);
                            return false;
                        }
                    }
                })
            }
            if(miji != ''){
                $.ajax({
                    data:{miji:miji},
                    url:'__CONTROLLER__/isMJ',
                    type:'post',
                    dataType:'json',
                    success:function(rep){
                        // alert(rep.code);return;
                        if(rep.code == '-1'){
                            alert(rep.message);
                            location.href='__CONTROLLER__/app?area='+area+'&louyu='+louyu+'&roomno='+roomno+'&card='+card+'&mac='+mac+'&zhong='+zhong
                        }else if(rep.code == '-2'){
                            alert(rep.message);
                            return false;
                        }else{
                            location.href='__CONTROLLER__/app?area='+area+'&louyu='+louyu+'&roomno='+roomno+'&card='+card+'&mac='+mac+'&zhong='+zhong
                        }
                    }
                })
            }else{
                location.href='__CONTROLLER__/app?area='+area+'&louyu='+louyu+'&roomno='+roomno+'&card='+card+'&mac='+mac+'&zhong='+zhong
            }



        })

        $("#back").on('click',function(){
            history.back(1)
        })

        $('#cancel').on('click',function(){
            location.href='__CONTROLLER__/index';
        })

    });
</script>