<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLICOLD__/vendor/chosen/chosen.css" rel="stylesheet">
<style>
    th{
        text-align: center;
        vertical-align: middle !important;
    }
    .form-control{
        display: inline-block;
        width: 250px;
    }
    .wrapper .wrapper-content{
        padding-bottom: 0;
    }

    #sys_refresh{
        background-color: forestgreen;
        border-color: forestgreen;
        color:white;
    }
    #sys_update{
        background-color: #40C1BA;
        border-color: #40C1BA;
        color:white;
    }
    #sys_add{
        background-color: yellowgreen;
        border-color: yellowgreen;
        color:white;
    }
    #sys_del{
        background-color: cadetblue;
        border-color: cadetblue;
        color:white;
    }
    table{
        table-layout: fixed;
    }
    .th-inner{
        line-height: 15px !important;
    }
    .fixed-table-toolbar .columns label {
        width: 140px!important;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content " style="">
    <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-content">-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="_box" style="margin-top: 5px;">
                        <label class="control-label" style="width: 80px;">待办事项：</label>
                        <input type="text" class="form-control" placeholder="" id="utd_name" style="width:200px;display: inline-block;">
                        <label class="control-label" style="margin-left:10px;width: 80px;">责任处室：</label>
                        <select id="dept" name="kydept" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <foreach name="dept" item="val">
                                <option value="{$val.org_name}">{$val.org_name}</option>
                            </foreach>
                        </select>
                        <label class="control-label" style="margin-left:10px;width: 120px;">计划完成时间：</label>
                        <input type="text" class="form-control" placeholder="" id="start" style="width:150px;display: inline-block;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">---
                        <input type="text" class="form-control" placeholder="" id="end" style="width:150px;display: inline-block;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                    </div>
                    <div class="_box cb" style="margin-top: -5px;" >
                        <div style="float: left;width: 290px;margin-top: 12px;">
                            <label class="control-label" style="width: 80px;">&nbsp;&nbsp;&nbsp;责任人：</label>
                            <select id="kybchargemanname"  class="chosen-select" >
                                <option value=""></option>
                                <!--<foreach name="zr" item="val">-->
                                <!--<option value="{$val.user_realusername}" >{$val.user_realusername}</option>-->
                                <!--</foreach>-->
                            </select>
                        </div>
                        <div style="float: left;width: 300px;margin-top: 12px;">
                            <label class="control-label" style="margin-left:10px;width: 80px;">&nbsp;&nbsp;状态：</label>
                            <select id="utd_status" name="utd_status" class="chosen-select" >
                                <option value="">&nbsp;</option>
                                <foreach name="state" item="val">
                                    <option value="{$val.dic_name}">{$val.dic_name}</option>
                                </foreach>
                            </select>
                        </div>

                        <div style="float: left;margin-top: -8px;" id="atpbiztoolbar">
                        <button class="btn btn-info" style="margin-left: 30px;" type="button" id="sys_refresh">查询</button>
                        <a class="btn btn-info " style="margin-left: 5px;" type="button" id="sys_add" >新增</a>
                        <!--<a class="btn btn-info " style="margin-left: 10px;" type="button" id="sys_update" >编辑</a>-->
                        <button class="btn btn-warning" style="margin-left: 5px;" type="button" data-head="会议名称,待办事项,完成形式,计划完成时间,责任人,责任处室,责任领导" data-extraparam="" data-remark="支持从Excel批量拷贝粘贴" id="sys_batchadd" data-method="Admin/Dept/saveCopyTables">批量增加</button>
                        <button class="btn btn-info" style="margin-left: 5px;" type="button" id="sys_del">删除</button>
                        <button class="btn btn-info" style="margin-left: 5px;" type="button" id="sys_exp">导出</button>
                        <button class="btn btn-info" style="margin-left: 5px;" type="button" id="sys_nullify">取消</button>
                        </div>
                    </div>
                    <table id="atpbiztable" ></table>
                </div>
            </div>
        <!--</div>-->
    <!--</div>-->
</div>
<div class="modal fade" id="loading" role="dialog" data-backdrop='static'>
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">处理中</h4>
            </div>
            <div class="modal-body">
                <img src="__PUBLICOLD__/img/loading/loading9.gif" style='display: block;margin: 0 auto'>
                <div id="loadingText" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
<div id="sys_dlg" role="dialog" class="modal fade "></div>
<input type="hidden" id="sort" >
<input type="hidden" id="sortOrder" >
<script src="__PUBLICOLD__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLICOLD__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLICOLD__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
<script src="__PUBLICOLD__/js/tablecopy.js"></script>
<script src="__PUBLICOLD__/js/table-hidecloumn.js"></script>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: '200px'});
    $('#kybchargemanname').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url:'__MODULE__/User/getDutyUser'
    });

    var columns = [
        {checkbox: true, width: 40},
        {
            title: '序号', width: 60,
            formatter: function (value, row, index) {
                var option = $('#atpbiztable').bootstrapTable("getOptions");
                return option.pageSize * (option.pageNumber - 1) + index + 1;
            }
        },
        {field: 'utd_meetname', title: '会议名称', sortable: true, width: 150},
        {field: 'utd_name', title: '待办事项', sortable: true, width: 250},
        {field: 'utd_finishtype', title: '完成形式', sortable: true, width: 100},
        {field: 'utd_planfinishdate', title: '计划<br/>完成时间', sortable: true, width: 100},
        {field: 'utd_modifyfinishdate', title: '预计<br/>完成时间', sortable: true, width: 100},
        {field: 'utd_confirmtime', title: '实际<br/>完成时间', sortable: true, width: 100},
        {field: 'utd_kybchargeman', title: '责任人', sortable: true, width: 75},
        {field: 'utd_kybunit', title: '责任处室', sortable: true, width: 100},
        {field: 'utd_kybleader', title: '责任领导', sortable: true, width: 100},
        {field: 'status', title: '确认完成', sortable: true, width: 100},
        {field: 'material', title: '上传文件', width: 90, sortable: true,
            formatter: function (value, row, index) {
                var inp = value;
                var id="'"+row.utd_id+"'";
                if(inp!=null){
                    var a = '<a style="color: #1C7165;text-decoration:underline" onclick="fileUp(' + id + ')">'+inp+'</a><br>';
                    return a;
                }
            }
        },
        {
            field: 'utd_id', title: '编辑', sortable: false, width: 60,
            formatter: function (value, row, index) {
                var inp = "'" + value + "'";
                var a = '<a style="background: #CBDDDA;border-color: #1C7165;color: #1C7165;"  class="btn btn-info btn-xs" onclick="updateInRow(' + inp + ')">编辑</a><br>';
                return a;
            }
        },
        {
            field: 'utd_id', title: '调整', sortable: false, width: 60,
            formatter: function (value, row, index) {
                if(row.utd_flowstatus == '未提交' || row.utd_flowstatus == '已提交' || row.utd_flowstatus == '被退回') {
                    var inp = "'" + value + "'";
                    var a = '<a style="background: #CBDDDA;border-color: #1C7165;color: #1C7165;"  class="btn btn-info btn-xs" onclick="adjust(' + inp + ')">调整</a><br>';
                    return a;
                }
            }
        },
        {
            field: 'utd_id', title: '提交', sortable: false, width: 60,
            formatter: function (value, row, index) {
                if(row.utd_flowstatus == '未提交' || row.utd_flowstatus == '被退回'){
                    var inp = "'" + value + "'";
                    var a = '<a style="background: #CBDDDA;border-color: #1C7165;color: #1C7165;"  class="btn btn-info btn-xs" onclick="TjInRow(' + inp + ')">提交</a><br>';
                    return a;
                }

            }
        },
        {
            field: 'utd_id', title: '确认', sortable: false, width: 60,
            formatter: function (value, row, index) {
                if(row.utd_flowstatus == '已提交'){
                    var inp = "'" + value + "'";
                    var a = '<a style="background: #CBDDDA;border-color: #1C7165;color: #1C7165;"  class="btn btn-info btn-xs" onclick="ComfirmInRow(' + inp + ')">确认</a><br>';
                    return a;
                }
            }
        },
        {
            field: 'utd_id', title: '退回', sortable: false, width: 60,
            formatter: function (value, row, index) {
                if(row.utd_flowstatus == '已确认' || row.utd_flowstatus == '已提交'){
                    var inp = "'" + value + "'";
                    var a = '<a style="background: #CBDDDA;border-color: #1C7165;color: #1C7165;"  class="btn btn-info btn-xs" onclick="BackInRow(' + inp + ')">退回</a><br>';
                    return a;
                }
            }
        }
    ];
    columns = $_hide.hideColumnsByCookie(columns);
    fixed();
    function fixed(){
        var h  = $(window).height() - 70;
        $('table').attr('data-height',h);
    }
    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getData',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#atpbiztoolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "decode(status,'进行中',1,'调整',2,'未完成',3,'已取消',4,'已完成',5),utd_planfinishdate",
                sortOrder: "asc",                   //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 15,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
//            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
//            showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "utd_id",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
                detailView: true,                   //是否显示父子表
                detailFormatter: "detailFormatter",
                columns: [
                    columns
                ],
                onDblClickRow: function (row) {
                    updateInRow(row['utd_id']);
                }
            });
        }
    }
    TableObj.oTableInit();

    function queryParams(params) {  //配置参数
        $('#sort').val(params.sort);
        $('#sortOrder').val(params.order);
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            utd_name:$('#utd_name').val(),
            dept:$('#dept').val(),
            start:$('#start').val(),
            end:$('#end').val(),
            kybchargemanname:$('#kybchargemanname').val(),
            utd_status:$('#utd_status').val()
        };
        return temp;
    }

    function detailFormatter(index, row) {
        var html = [];
        var length = row['workflow'].length;
        html.push("<div class='ibox-content'>");
        html.push("<table class='table'  style='width:60%'>");
        html.push("<tbody>");
        for(var i =0; i < length ; i++ ){
            html.push("<tr><td style='text-align: left'>"+row['workflow'][i]['work']+"</td></tr>");
        }
        html.push("</tbody>");
        html.push("</table>");
        html.push("</div>");
        return html.join('').replace(/null/g, "").replace(/undefined/g, "");
    }

    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });
    $('#sys_add').on('click',function(){
        updateInRow('');
    });



    $('#sys_update').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if(tablerow.length!=1) {
            layer.alert("您已多选或者少选，仅能对一条数据进行操作");
        } else {
            updateInRow(tablerow[0]['utd_id']);
        }
    });

    $('#sys_del').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            layer.confirm('确认删除' + tablerow.length + '条数据?',{btn:['确定','取消']},function(){
                var ids = [];
                $.each(tablerow, function () {
                    ids.push(this['utd_id']);
                });
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/del',
                    data:{ids: ids.join(',')},
                    dataType :'json',
                    success:function(data){
                        if(data.code > 0){
                            layer.msg('操作成功');
                        }else{
                            layer.alert(data.message);
                        }
                        $('#atpbiztable').bootstrapTable('refresh')
                    }
                })
            })
        }
    });

    $('#sys_exp').click(function(){
        $('#loading').modal('show');
        var sort=$('#sort').val();
        var sortOrder=$('#sortOrder').val();
        var utd_name = $('#utd_name').val();
        var dept = $('#dept').val();
        var start = $('#start').val();
        var end = $('#end').val();
        var kybchargemanname = $('#kybchargemanname').val();
        var utd_status = $('#utd_status').val();
        var t = "__CONTROLLER__/getDataWithExport?utd_name="+utd_name+'&dept='+dept+'&start='+start+'&end='+end+'&kybchargemanname='+kybchargemanname+'&utd_status='+utd_status+'&sort='+sort+'&sortOrder='+sortOrder;
        t = encodeURI(t);
        $.ajax({
            type:'get',
            url: t,
            dataType:'json',
            success:function(data){
                $('#loading').modal('hide');
                if(data.code > 0){
                    location.href = data.message;
                }else{
                    layer.msg(data.message);
                }
            },error:function(){
                $('#loading').modal('hide');
                layer.alert('出错了！请联系管理员！');
            }
        })

    })

    function updateInRow(id)
    {
        layer.open({
            title:'部门待办事项编辑',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content:'__CONTROLLER__/add?id='+id,
            area: ['1000px', '500px']
        });
    }

    function fileUp(id){
        layer.open({
            title:'文件上传',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__APP__/Admin/File/index?objId='+id+'&objType='+'部门待办事项',
            area: ['800px', '600px']
        });
    }

    function adjust(id){
        layer.open({
            title:'调整',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__CONTROLLER__/adjust?id='+id,
            area: ['1000px', '450px']
        });
    }

    $('#sys_nullify').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            layer.confirm('确认取消' + tablerow.length + '条数据?',{btn:['确定','取消']},function(){
                var ids = [];
                $.each(tablerow, function () {
                    ids.push(this['utd_id']);
                });
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/nullify',
                    data:{ids: ids.join(',')},
                    dataType :'json',
                    success:function(data){
                        if(data.code > 0){
                            layer.msg('操作成功');
                        }else{
                            layer.alert(data.message);
                        }
                        $('#atpbiztable').bootstrapTable('refresh')
                    }
                })
            })
        }
    });

    function BackInRow(id)
    {
        layer.open({
            title:'部门待办事项退回',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content:'__CONTROLLER__/back?id='+id,
            area: ['800px', '400px']
        });
    }

//    function TjInRow(id)
//    {
//        layer.open({
//            title:'实际完成时间',
//            closeBtn:1,
//            type: 2,
//            shadeClose:false,
//            content:'__CONTROLLER__/tjTime?id='+id,
//            area: ['800px', '300px']
//        });
//    }

    function TjInRow(id){
        layer.confirm('确定提交这条数据?',{btn:['确定','取消']},function(){
            $.ajax({
                type:'post',
                url:'__CONTROLLER__/tjSubmit',
                data:{ids: id},
                dataType :'json',
                success:function(data){
                    if(data.code > 0){
                        layer.msg(data.message);
                    }else{
                        layer.alert(data.message);
                    }
                    $('#atpbiztable').bootstrapTable('refresh')
                }
            })
        })
    }

    function ComfirmInRow(id){
        layer.confirm('确定确认这条数据?',{btn:['确定','取消']},function(){
            $.ajax({
                type:'post',
                url:'__CONTROLLER__/Cfsubmit',
                data:{ids: id},
                dataType :'json',
                success:function(data){
                    if(data.code > 0){
                        layer.msg(data.message);
                    }else{
                        layer.alert(data.message);
                    }
                    $('#atpbiztable').bootstrapTable('refresh')
                }
            })
        })
    }

</script>
</body>

</html>




