<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<style>
    th{
        text-align: center;
    }
    .form-control{
        display: inline-block;
        width: 250px;
    }
    .wrapper .wrapper-content{
        padding-bottom: 0;
    }
    .control-label{
        font-size: 14px!important;
        width:75px;
    }
    .fixed-table-toolbar{
        display: none;
    }
    table{
        table-layout: fixed;
    }
    #group_chosen{
        width:92px!important;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content " style="">
    <div class="row">
        <div class="col-sm-12">
            <div class="_box" style="margin-top: 5px;">
                <label class="control-label" style="margin-left:-24px;">班组：</label>
                <select id="group" class="chosen-select" style="">
                    <option value="">请选择</option>
                    <foreach name="group" item="v">
                        <option value="{$v.dic_name}">{$v.dic_name}</option>
                    </foreach>
                </select>
                <label class="control-label" style="margin-left:5px;">事项编号：</label>
                <input type="text" class="form-control" style="width:110px;"  id="sx_code" value="{$code}">
                <label class="control-label" style="margin-left:5px;">名称：</label>
                <input type="text" class="form-control" style="width:150px;"  id="sx_name">
                <label class="control-label" style="margin-left:5px;">责任人：</label>
                <select id="dutyman" class="chosen-select" >
                    <option value="">请选择</option>
                </select>
                <label class="control-label" style="margin-left:5px;">提出人：</label>
                <select id="demander" class="chosen-select" >
                    <option value="">请选择</option>
                </select>
                <button class="btn btn-info" style="margin-left: 10px;margin-top: -5px;background-color: #4EA3EC;border-color:#4EA3EC;" type="button" id="sys_refresh">查询</button>
           </div>
            <!-- <div class="_box" style="margin-bottom: 5px;margin-left: 25px;"> -->
               
            <!-- </div> -->
            <table id="atpbiztable" ></table>
        </div>
    </div>
</div>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
<script>

    layui.use('layer', function() {
        layer = layui.layer;
    })

    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: '130px'});

    $('#dutyman').ajaxChosen({
        dataType: 'json',
        type: 'POST',
        url:'__MODULE__/org/assignuser'
    },{
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });

    $('#demander').ajaxChosen({
        dataType: 'json',
        type: 'POST',
        url:'__MODULE__/org/assignuser'
    },{
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });
    fixed();
    function fixed(){
        var h  = $(window).height() - 70;
        $('table').attr('data-height',h);
    }
    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getData',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#atpbiztoolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "sx_atpcreatetime",
                sortOrder: "desc",                   //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 15,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
//            strictSearch: true,
//            showColumns: true,                  //是否显示所有的列
//            showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "sx_atpid",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [[
                    {checkbox: true, width: 30},
                    {
                        title: '序号', width: 40,
                        formatter: function (value, row, index) {
                            var option = $('#atpbiztable').bootstrapTable("getOptions");
                            return option.pageSize * (option.pageNumber - 1) + index + 1;
                        }
                    },
                    {field: 'sx_code', title: '编号', sortable: true, width: 50},
                    {field: 'sx_name', title: '名称', sortable: true, width:200},
                    {field: 'rw_detail', title: '内容', sortable: true, width: 220,
                        formatter: function (value, row, index) {
                            var inp = "'" + row.rw_atpid + "'";
                            var sx = "'" + row.sx_atpid + "'";
                            var a = '<a  onclick="addRenWu(' + inp + ','+ sx + ')">'+value+'</a><br>';
                            return a;
                        }
                    },
                    {field: 'sx_group', title: '班组', sortable: true, width: 50, visible: true},
                    {field: 'sx_dutyman', title: '责任人', sortable: true, width: 50, visible: true},
                    // {field: 'sx_dutymandept', title: '责任部门', sortable: true, width: 100, visible: true},
                    {field: 'sx_demander', title: '提出人', sortable: true, width: 50, visible: true},
                    {field: 'sx_demanddept', title: '提出部门', sortable: true, width: 100, visible: true},
//                    {field: 'sx_atpcreatetime', title: '时间', sortable: true, width: 100, visible: true},
                    {field: 'zyCount', title: '资源数', sortable: true, width: 50, visible: true,
                        formatter: function (value, row, index) {
                            var inp = "'" + row.sx_atpid + "'";
                            var name = "'" + row.sx_name + "'";
                            var a = '<a  onclick="ziyuan(' + inp + ','+ name+')">'+value+'</a>';
                            return a;
                        }
                    }
                ]
                ]
            });
        }
    }
    TableObj.oTableInit();

    function queryParams(params) {  //配置参数
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            sx_code:$('#sx_code').val(),
            sx_name:$('#sx_name').val(),
            dutyman:$('#dutyman').val(),
            demander:$('#demander').val(),
            biao:'查询',
            group:$('#group').val()
        };
        return temp;
    }
    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });

    $('#sys_add').click(function(){
        updateData();
    })

    function updateData(id)
    {
        layer.open({
            title:'编辑数据',
            closeBtn:1,
            type: 2,
            shadeClose:false,
//            cancel:function(){$('#sys_refresh').click();},
            content: '__CONTROLLER__/add?id='+id,
            area: ['80%', '58%']
        });
    }

    function read(id)
    {
        layer.open({
            title:'任务列表',
            closeBtn:1,
            type: 2,
            shadeClose:false,
//            cancel:function(){$('#sys_refresh').click();},
            content: '__CONTROLLER__/renwu?id='+id,
            area: ['90%', '85%']
        });
    }

    function addRenWu(id,sxId)
    {
        layer.open({
            title:'编辑任务',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__CONTROLLER__/addRw?id='+id+'&sxId='+sxId+'&biao='+'1',
            area: ['70%', '75%']
        });
    }


    $('#sys_del').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            var ids = [];
            $.each(tablerow, function () {
                ids.push(this['sx_atpid']);
            });
            deleteInRow(ids.join(','));
        }
    });

    //数据删除触发该方法
    function deleteInRow(id){
        layer.confirm('确认删除选中数据?', {btn:['确定','取消']},
            function(){
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/delData',
                    data:{sx_atpid: id},
                    success:function(data){
                        if(data == 'success'){
                            layer.msg('操作成功');
                            $('#sys_refresh').click();
                        }else{
                            layer.alert("操作失败");
                        }
                    }
                })
            })
    }

    function ziyuan(id,name){
        layer.open({
            title:'资源查看编辑'+'---'+name,
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__MODULE__/ShiXiang/viewDetail?id='+id,
            area: ['96%', '96%']
        });
    }


</script>
</body>

</html>




