<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>
<style>
    th{
        text-align: center;
    }
    .form-control{
        display: inline-block;
    }
    .wrapper .wrapper-content{
        padding-bottom: 0;
    }
    .control-label{
        width: 30%;
        float: left;
        text-align:center;
        line-height: 30px;
    }
    .chosen-container{
        top: -1px;
    }
    .form-group{
        display: inline-block;
        width: 24%;
        margin-top: -7px;
    }
    .formEl-div{
        float: left;
    }
    ._box {
        height:32px;
        margin: 18px 0px 0px !important;
    }
    .fixed-table-container{
        padding-bottom: 0px !important;
    }
    table{
        table-layout: fixed;
        word-break: break-all;
    }
    .formEl-div{
        width:70%
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12" id='search_div'>
            <div class="_box" style="margin-top: 5px;">

                <div class="form-group">
                    <label class="control-label" >IP地址</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="net_ipaddress">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >厂家</label>
                    <div class="formEl-div" >
                        <select id="net_factory" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <?php foreach($changJia as $key=>$value){ ?>
                            <option value="{$value.dic_id}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >型号</label>
                    <div class="formEl-div" >
                        <select id="net_model" class="chosen-select" >
                            <option value="">&nbsp;</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >登录方式</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="net_protocol">
                    </div>
                </div>
            </div>

            <div class="_box box-show" style="margin-top: 4px;">
                <div class="form-group">
                    <label class="control-label" >地区</label>
                    <div class="formEl-div" >
                        <select id="net_area" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <?php foreach($diQu as $key=>$value){ ?>
                            <option value="{$value.dic_id}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >楼宇</label>
                    <div class="formEl-div" >
                        <select id="net_building" class="chosen-select" ></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >房间号</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="net_room">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >用途</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="net_usage">
                    </div>
                </div>

            </div>

            <div class="_box box-show" style="margin-top: 4px;">

                <div class="form-group">
                    <label class="control-label" >使用状态</label>
                    <div class="formEl-div" >
                        <select id="net_status" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <?php foreach($zhuangTai as $key=>$value){ ?>
                            <option value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >密级</label>
                    <div class="formEl-div" >
                        <select id="net_secretlevel" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <?php foreach($miJi as $key=>$value){ ?>
                            <option value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >设备编码</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="net_anecode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >出厂编号</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="net_sn">
                    </div>
                </div>
            </div>

            <div class="_box box-show" style="margin-top: 4px;">

                <!--<div class="form-group">-->
                <!--<label class="control-label" >责任部门</label>-->
                <!--<div class="formEl-div" >-->
                <!--<select id="net_dutydept" class="chosen-select" ></select>-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="control-label" >所属网络</label>
                    <div class="formEl-div" >
                        <select id="net_net" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <?php foreach($suoShuWangLuo as $key=>$value){ ?>
                            <option value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" >责任人</label>
                    <div class="formEl-div" >
                        <select  name="net_dutyman" id="net_dutyman" class="chosen-select" >
                            <option value="<?php echo $user['username'];?>"><?php echo $user['name'];?></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="_box">
                <button class="btn btn-info" style="background-color: forestgreen;border-color: forestgreen;" type="button" id="sys_refresh">查询</button>
                <button class="btn btn-info" style="background-color: forestgreen;border-color: forestgreen;" type="button" id="sys_reset">重置</button>
                <a class="btn btn-info " style="margin-left: 10px;background-color: yellowgreen;border-color: yellowgreen;" type="button" id="sys_add" >新增</a>
                <button class="btn btn-warning" style="margin-left: 10px;" type="button" data-head="IP地址,厂家,型号,地区,楼宇,房间号,状态,是否扫描,设备编码,机位,端口数,子网掩码,默认网关,用途,登录方式,远程管理主机,日志服务器,上联交换机,上联端口,登录端口,登录用户,登录密码,全局模式密码,特权密码,启用日期,密级,部标编码,仪设台账,保密台账,出厂编号,采购日期,资产来源,所属网络,版本,备注,是否核心,配件信息,责任人,管理方式,端口详情,使用人" data-extraparam="" data-remark="支持从Excel批量拷贝粘贴" id="sys_batchadd" data-method="Home/Netdevice/opticalSaveCopyTables">批量增加</button>
                <button class="btn btn-info" style="margin-left: 10px;background-color: cadetblue;border-color: cadetblue;" type="button" id="sys_del">删除</button>
                <button class="btn btn-info" style="margin-left: 10px;" type="button" id="sys_exp">导出</button>
                <button class="btn btn-info" style="margin-left: 10px;" type="button" id="show">收起/展开</button>
                <div style="float: right;margin-right: 20px;">
                    <button class="btn btn-info" style="margin-left: 10px;background-color: #EAB46E;border-color: #EAB46E;" type="button" id="sys_scan">扫描</button>
                    <button class="btn btn-info" style="margin-left: 10px;background-color: #EAB46E;border-color: #EAB46E;" type="button" id="sys_not_scan">不扫描</button>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <table id="atpbiztable" ></table>
        </div>
    </div>
</div>
<div class="modal fade" id="loading" role="dialog" data-backdrop='static'>
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">处理中</h4>
            </div>
            <div class="modal-body">
                <img src="__PUBLIC__/img/loading/loading9.gif" style='display: block;margin: 0 auto'>
                <div id="loadingText" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="sort" >
<input type="hidden" id="sortOrder" >
</body>
<script src="__PUBLIC__/js/tablecopy.js"></script>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    var formEl_div_width = parseInt($('.formEl-div').eq(0).width());
    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: formEl_div_width+"px"})

    var height = document.documentElement.clientHeight -70;
    var searchDivHeight = parseInt($('#search_div').height());
    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getData',      //请求后台的URL（*）
                method: 'post',                     //请求方式（*）
                toolbar: '#atpbiztoolbar',          //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "net_type",
                sortOrder: "desc",                  //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页
                pageSize: 15,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "net_atpid",                   //每一行的唯一标识，一般为主键列
                detailView: true,                  //是否显示父子表
                detailFormatter: "showDataView",
                columns: [
                    [
                        {checkbox: true, width: 40},
                        {
                            title: '序号', width: 55,
                            formatter: function (value, row, index) {
                                var option = $('#atpbiztable').bootstrapTable('getOptions');
                                return option.pageSize * (option.pageNumber - 1) + index + 1;
                            }
                        },
                        {field: 'net_type', title: '设备类型', sortable: true, width: 90},
                        {field: 'net_ipaddress', title: 'IP地址', sortable: true, width: 90},
                        {field: 'net_factory', title: '厂家', sortable: true, width: 70},
                        {field: 'net_model', title: '型号', sortable: true, width: 70},
                        {field: 'net_area', title: '地区', sortable: true, width: 70},
                        {field: 'net_building', title: '楼宇', sortable: true, width: 70},
                        {field: 'net_room', title: '房间号', sortable: true, width: 80},
                        {field: 'net_status', title: '状态', sortable: true, width: 70},
                        {field: 'net_isscan', title: '是否扫描', sortable: true, width: 90},
                        {field: 'net_anecode', title: '设备编码', sortable: true, width: 90},
                        {field: 'net_jigui', title: '机柜', sortable: true, width: 70},
                        {field: 'net_jiwei', title: '机位', sortable: true, width: 70},
                        {field: 'net_portnum', title: '端口数', sortable: true, width: 80},
                        {
                            field: 'net_atpid',title: '操作', sortable: false,width: 95,
                            formatter: function (value, row, index) {
                                var inp = "'" + value + "'";
                                return '<a  class="btn btn-info btn-xs"  style="margin:0" onclick="updateInRow(' + inp + ')">编辑</a>&nbsp;<a  class="btn btn-info btn-xs" onclick="deleteInRow(' + inp + ')" style="margin:0;background: #AB154D;border-color: #AB154D;">删除</a>';                           }
                        }

                    ]
                ],
                onDblClickRow: function (row) {
                    updateInRow(row['net_atpid']);
                },
                onLoadSuccess:function(data){
                    var tabheight = $('.fixed-table-container').height();
                    tabheight = parseInt(tabheight);
                    if(tabheight < (height-searchDivHeight)){
                        $('.fixed-table-container').css('height', 'auto');
                    }else{
                        $('#atpbiztable').bootstrapTable("resetView",{height:height-searchDivHeight});
                    }
                }
            });
        }
    };
    TableObj.oTableInit();

    function queryParams(params) {  //配置参数
        $('#sort').val(params.sort);
        $('#sortOrder').val(params.order);
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            net_ipaddress:$('#net_ipaddress').val(),
            net_factory:$('#net_factory option:selected').val(),
            net_model:$('#net_model option:selected').val(),
            net_area:$('#net_area option:selected').val(),
            net_building:$('#net_building option:selected').val(),
            net_room:$('#net_room').val(),
            net_usage:$('#net_usage option:selected').val(),
            net_protocol:$('#net_protocol').val(),
            net_status:$('#net_status option:selected').val(),
            net_secretlevel:$('#net_secretlevel option:selected').val(),
            net_anecode:$('#net_anecode').val(),
            net_sn:$('#net_sn').val(),
            net_dutydept:$('#net_dutydept option:selected').val(),
            net_net:$('#net_net option:selected').val(),
            net_dutyman:$('#net_dutyman option:selected').val(),
            net_type:'光纤交换机'
        };
        return temp;
    }

    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });

    $('#sys_add').on('click',function() {
        updateInRow('');
    });

    $('#sys_del').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            var ids = [];
            $.each(tablerow, function () {
                ids.push(this['net_atpid']);
            });
            deleteInRow(ids.join(','));
        }
    });

    //数据编辑触发该方法
    function updateInRow(id) {
        layer.open({
            title:'数据编辑',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__CONTROLLER__/opticalfiberAdd?net_atpid='+id,
            area: ['80%', '90%']
        });
    }
    //数据删除触发该方法
    function deleteInRow(id){
        layer.confirm('确认删除选中数据?',
                {btn:['确定','取消']},
                function(){
                    $.ajax({
                        type:'post',
                        url:'__CONTROLLER__/delData',
                        data:{net_atpid: id},
                        dataType :'json',
                        success:function(data){
                            if(data.code > 0){
                                layer.msg('操作成功');
                                $('#sys_refresh').click();
                            }else{
                                layer.alert(data.message);
                            }
                        },error:function(){
                            layer.alert('出错啦！请稍后再试');
                        }
                    })
                })
    }
    //扫描
    $('#sys_scan').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            var ids = [];
            $.each(tablerow, function () {
                ids.push(this['net_atpid']);
            });
            scanInRow(ids.join(','));
        }
    });
    //不扫描
    $('#sys_not_scan').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            var ids = [];
            $.each(tablerow, function () {
                ids.push(this['net_atpid']);
            });
            scanInNotRow(ids.join(','));
        }
    });

    //扫描方法
    function scanInRow(id){
        layer.confirm('确认扫描选中数据?',
                {btn:['确定','取消']},
                function(){
                    ajaxScan(id,true);
                })
    }
    //不扫描方法
    function scanInNotRow(id){
        layer.confirm('确认不扫描选中数据?',
                {btn:['确定','取消']},
                function(){
                    ajaxScan(id,false);
                })
    }

    //扫描的Ajaxf方法
    function ajaxScan(id,flag){
        if(id){
            $.ajax({
                type:'post',
                url:'__CONTROLLER__/updataInScan',
                data:{net_atpid: id,flag:flag},
                dataType :'json',
                success:function(data){
                    if(data.code > 0){
                        layer.msg('操作成功');
                        $('#sys_refresh').click();
                    }else{
                        layer.alert(data.message);
                    }
                },error:function(){
                    layer.alert('出错啦！请稍后再试');
                }
            })
        }
    }

    function showDataView(index, row){
        var html = [];
        html.push("<div class='ibox-content'>");
        html.push("<table class='table'>");
        html.push("<tbody>");
        html.push("<tr><td><b>子网掩码</b></td><td>" + row['net_mask'] + "</td><td><b>登录端口</b></td><td>" + row['net_loginport'] + "</td><td><b>仪设台账</b></td><td>" + row['net_devicebook'] + "</td><td><b>备注</b></td><td>" + row['net_memo'] + "</td></tr>");
        html.push("<tr><td><b>默认网关</b></td><td>" + row['net_gateway'] + "</td><td><b>登录用户</b></td><td>" + row['net_loginuser'] + "</td><td><b>保密台账</b></td><td>" + row['net_privacybook'] + "</td><td><b>是否核心</b></td><td>" + row['net_iscore'] + "</td></tr>");
        html.push("<tr><td><b>用途</b></td><td>" + row['net_usage'] + "</td><td><b>登录密码</b></td><td>" + row['net_loginpass'] + "</td><td><b>出厂编号</b></td><td>" + row['net_sn'] + "</td><td><b>配件信息</b></td><td>" + row['net_configinfo'] + "</td></tr>");
        html.push("<tr><td><b>登录方式</b></td><td>" + row['net_protocol'] + "</td><td><b>全局模式密码</b></td><td>" + row['net_globalpass'] + "</td><td><b>采购日期</b></td><td>" + row['net_caigoudate'] + "</td><td><b>责任人</b></td><td>" + row['net_dutyman'] + "</td></tr>");
        html.push("<tr><td><b>远程管理主机</b></td><td>" + row['net_managehost'] + "</td><td><b>特权密码</b></td><td>" + row['net_adminpass'] + "</td><td><b>资产来源</b></td><td>" + row['net_source'] + "</td><td><b>管理方式</b></td><td>" + row['net_manage'] + "</td></tr>");
        html.push("<tr><td><b>日志服务器</b></td><td>" + row['net_logserver'] + "</td><td><b>启用日期</b></td><td>" + row['net_enabledate'] + "</td><td><b>责任部门</b></td><td>" + row['net_dutydept'] + "</td><td><b>端口详情</b></td><td>" + row['net_portdetail'] + "</td></tr>");
        html.push("<tr><td><b>上联交换机</b></td><td>" + row['net_upswitch'] + "</td><td><b>密级</b></td><td>" + row['net_secretlevel'] + "</td><td><b>所属网络</b></td><td>" + row['net_net'] + "</td><td><b>使用人</b></td><td>" + row['net_useman'] + "</td></tr>");
        html.push("<tr><td><b>上联端口</b></td><td>" + row['net_upport'] + "</td><td><b>部标编码</b></td><td>" + row['net_code'] + "</td><td><b>版本</b></td><td>" + row['net_iso'] + "</td><td><b>使用人部门</b></td><td>" + row['net_usedept'] + "</td></tr>");
        html.push("</tbody>");
        html.push("</table>");
        html.push("</div>");
        return html.join('').replace(/null/g, "").replace(/undefined/g, "");
    }

    //选择地区触发楼宇
    $('#net_area').change(function () {
        var id = $(this).val();
        dic_louyu(id);
    });

    //设置楼宇
    var areaid = $("#net_area").val();
    if(areaid != ''){
        var next_id = "<?php echo $data['net_building'];?>";
        dic_louyu(areaid,next_id);
    }

    //楼宇
    function dic_louyu(id,next_id){
        if(next_id == 'undefined'){next_id = ''}
        if(!id)  return false;
        $.ajax({
            type:'post',
            url:'__MODULE__/dic/getDicLouYu',
            data:{pid: id},

            dataType :'json',
            success:function(data){
                if (data.code > 0) {
                    var str=  '<option value="">&nbsp;</option>';
                    $.each(data.results,function(k,v){
                        var sele = '';
                        if(next_id == v['dic_id']){sele = 'selected'}
                        str += "<option "+sele+" value='"+v['dic_id']+"'>"+v['dic_name']+"</option>";
                    });
                    $('#net_building option').remove();
                    $('#net_building').append(str);
                    $('#net_building').trigger("chosen:updated");
                } else {
                    layer.alert(data.message);
                }
            },
            error:function(){
                layer.alert('出错啦！请联系管理员');
            }
        });
    }

    //选择厂家触发型号
    $('#net_factory').change(function () {
        var id = $(this).val();
        dic_xinghao(id);
    });
    //设置型号
    //        function set_xinghao(){
    var factoryid = $("#net_factory").val();
    if(factoryid != ''){
        var next_id = "<?php echo $data['net_model'];?>";
        dic_xinghao(factoryid,next_id);
    }
    //        }
    //型号
    function dic_xinghao(id,next_id){
        if(next_id == 'undefined'){next_id = ''}
        if(!id)  return false;
        $.ajax({
            type:'post',
            url:'__MODULE__/dic/getDicXingHao',
            data:{pid: id,pid2:'光纤交换机'},
            dataType :'json',
            success:function(data){
                if (data.code > 0) {
                    var str=  '<option value="">&nbsp;</option>';
                    $.each(data.results,function(k,v){
                        var sele = '';
                        if(next_id == v['dic_id']){sele = 'selected'}
                        str += "<option "+sele+" value='"+v['dic_id']+"'>"+v['dic_name']+"</option>";
                    });
                    $('#net_model option').remove();
                    $('#net_model').append(str);
                    $('#net_model').trigger("chosen:updated");
                } else {
                    layer.alert(data.message);
                }
            },
            error:function(){
                layer.alert('出错啦！请联系管理员');
            }
        });
    }
    //责任人
    $('#net_dutyman').ajaxChosen({
        dataType: 'json',
        type: 'post',
        url:'__MODULE__/org/assignuser'
    },{
        loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
    });
    $("#show").click(function(){
        $('.box-show').fadeToggle();// 透明度变化 淡入淡出
    });
    $('#sys_exp').click(function(){
        $('#loading').modal('show');
        var sort=$('#sort').val();
        var sortOrder=$('#sortOrder').val();
        var t = "__CONTROLLER__/getDataWithExport";
        t = encodeURI(t);
        $.ajax({
            type:'post',
            url: t,
            dataType:'json',
            data:{
                sort:sort,
                sortOrder:sortOrder,
                net_ipaddress:$('#net_ipaddress').val(),
                net_factory:$('#net_factory option:selected').val(),
                net_model:$('#net_model option:selected').val(),
                net_area:$('#net_area option:selected').val(),
                net_building:$('#net_building option:selected').val(),
                net_room:$('#net_room').val(),
                net_usage:$('#net_usage option:selected').val(),
                net_protocol:$('#net_protocol').val(),
                net_status:$('#net_status option:selected').val(),
                net_secretlevel:$('#net_secretlevel option:selected').val(),
                net_anecode:$('#net_anecode').val(),
                net_sn:$('#net_sn').val(),
                net_dutydept:$('#net_dutydept option:selected').val(),
                net_net:$('#net_net option:selected').val(),
                net_dutyman:$('#net_dutyman option:selected').val(),
                net_type:'光纤交换机'
            },
            success:function(data){
                $('#loading').modal('hide');
                if(data.code > 0){
                    location.href = data.message;
                }else{
                    layer.msg(data.message);
                }
            },error:function(){
                $('#loading').modal('hide');
                layer.alert('出错了！请联系管理员！');
            }
        })
    })

    $('#sys_reset').click(function(){
        $('.form-control').val('');
        $('.chosen-select').val('');
        $('.chosen-select').trigger("chosen:updated");
//        $('#sys_refresh').click()
    })
</script>
</html>