<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<title>角色授权</title>
<style>
    .modal-footer{
        margin-top: 20px!important;
    }
    .control-label{
        padding-top: 30px;
        float: left;
        margin-left:11%;
    }
    #input_model{
        float: left;
        margin-top: 20px;
    }
    .form-horizontal>div{
        margin:0 0 30px 0;
    }
    .fixed-table-toolbar{
        display: none;
    }
</style>
<body style="margin: 0 auto;text-align: center">
<div class="roleBox clearfix" style="margin-bottom: 20px;margin-left: 80px">
    <label class="control-label" style="font-size: 16px;margin-top: -3px">模块：</label>
    <input id="input_model" type="text" class="form-control" placeholder="" style="width:200px;display: inline-block;">
    <button class="btn btn-info" type="button" style="display: block;float: left;margin-top: 20px;margin-left: 30px" id="sys_refresh">
        查询
    </button>
</div>
<form id="sys_dlg_form" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="col-sm-12">
        <div class="tablelist2 col-sm-6" style="margin-left:85px;width: 550px;">
            <table id="t2"></table>
        </div>
    </div>

    <input id="roleid" type="hidden" value="{$roleid}" class="form-control">
</form>
<div class="modal-footer" style="overflow: hidden">
    <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="background-color: #428bca;
    border-color: #357ebd;">保存</button>
</div>
</body>
<script>
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        });
        var modelids = '<?php echo $modelids; ?>';
        if (modelids != 'modelids' && modelids != '') {
            modelids = JSON.parse(modelids);
        }
        $('#t2').bootstrapTable({
            url: '__CONTROLLER__/addByModel',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#atpbiztoolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: false,                   //是否显示分页（*）
            iconSize: 'outline',
            sortable: true,                     //是否启用排序
            sortName: "mi_sort",
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5, 10, 25, 50, 100],        //可供选择的每页的行数（*）
//            strictSearch: true,
//            showColumns: true,                  //是否显示所有的列
//            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "mi_id",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [[
                {
                    checkbox: true,
                    formatter: checkedModel
                },
                {field: 'mi_name', title: '模块', sortable: true, width: 50}
            ]
            ]
        });
        function checkedModel(value, row, index) {
            if (modelids != 'modelids' && modelids != '' && modelids.indexOf(row['mi_id'])>=0) {
                return {checked: true};
            }
        }
    });
    function queryParams(params) {  //配置参数
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            mi_name:$('#input_model').val()
        }
        return temp;
    }
    $('#sys_refresh').on('click', function () {
        $('#t2').bootstrapTable('refresh')
    });
    $('#sys_dlg_submit').click(function () {
        var tablerow2 = $('#t2').bootstrapTable('getSelections');
            var modelids = [];
            $.each(tablerow2, function () {
                modelids.push(this['mi_id']);
            });
            $.ajax({
                type: 'post',
                url: '__CONTROLLER__/addRoleAuthByRole',
                data: {modelids: modelids.join(','),roleid:$('#roleid').val()},
                dataType: 'json',
                success: function (data) {
                    if (data.code > 0) {
                        layer.msg('操作成功');
                    } else {
                        layer.alert(data.message);
                    }
                    parent.$('#atpbiztable').bootstrapTable('refresh');
                    parent.$('#atpbiztable2').bootstrapTable('refresh');
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            })
    })
</script>