<?php showViewsByPower() ?>
<include file="Universal@Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<link href="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" >
<style>
    th{
        text-align: center;
    }
    .form-control{
        display: inline-block;
    }
    .control-label{
        width: 30%;
        float: left;
        text-align:center;
    }
    .form-groups{
         display: inline-block;
         width: 24%;
         margin-top: -7px;
    }
    .formEl-div{
        float: left;
    }
    ._box {
        height:32px;
        margin: 18px 0px 0px !important;
    }
    table{
        table-layout: fixed;
        word-break: break-all;
    }
    .formEl-div{
        width:70%
    }
</style>
<body class="gray-bg" style="overflow:hidden">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12" id='search_div'>
            <div class="_box" style="margin-top: 5px;">

                <div class="form-groups">
                    <label class="control-label" >光纤类型</label>
                    <div class="formEl-div" style="margin-top: 8px;">
                        <select id="fb_type" class="chosen-select" >
                            <option value="">&nbsp;</option>
                            <foreach name="type" item="v">
                                <option value="{$v.dic_name}">{$v.dic_name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="form-groups">
                    <label class="control-label" >起始点</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="fb_start">
                    </div>
                </div>
                <div class="form-groups">
                    <label class="control-label" >终点</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="fb_end">
                    </div>
                </div>
                <div class="form-groups">
                    <label class="control-label" >接入配线间房间号</label>
                    <div class="formEl-div" >
                        <input type="text" class="form-control" style="width:99%;"  id="fb_status">
                    </div>
                </div>
            </div>
            <div class="_box" style="">
                <button class="btn btn-info" style="background-color: forestgreen;border-color: forestgreen;" type="button" id="sys_refresh">查询</button>
                <button class="btn btn-info" style="background-color: #1AB394;border-color:  #1AB394;" type="button" id="sys_reset">重置</button>
                <a class="btn btn-info " style="margin-left: 10px;background-color: yellowgreen;border-color: yellowgreen;" type="button" id="sys_add" >新增</a>
                <!--<button class="btn btn-warning" style="margin-left: 10px;" type="button" data-head="光纤类型,起始点,终点,总芯数,已用芯数,未使用芯数" data-extraparam="" data-remark="支持从Excel批量拷贝粘贴" id="sys_batchadd" data-method="Home/FiberController.class.php/saveCopyTables">批量增加</button>-->
                <button class="btn btn-info" style="margin-left: 10px;background-color: cadetblue;border-color: cadetblue;" type="button" id="sys_del">删除</button>
                <button class="btn btn-info" style="margin-left: 10px;" type="button" id="sys_exp">导出</button>
            </div>
       </div>
        <div class="col-sm-12">
            <table id="atpbiztable" ></table>
        </div>
    </div>
</div>
<div class="modal fade" id="loading" role="dialog" data-backdrop='static'>
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">处理中</h4>
            </div>
            <div class="modal-body">
                <img src="__PUBLIC__/img/loading/loading9.gif" style='display: block;margin: 0 auto'>
                <div id="loadingText" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="sort" >
<input type="hidden" id="sortOrder" >
</body>
<script src="__PUBLIC__/js/tablecopy.js"></script>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-editable/js/bootstrap-editable.js"></script>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    var formEl_div_width = parseInt($('.formEl-div').eq(0).width());
    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: formEl_div_width+"px"})        

    var height = document.documentElement.clientHeight -70;
    var searchDivHeight = parseInt($('#search_div').height());
    var TableObj = {
        oTableInit: function () {
            $('#atpbiztable').bootstrapTable({
                url: '__CONTROLLER__/getData',      //请求后台的URL（*）
                method: 'post',                     //请求方式（*）
                toolbar: '#atpbiztoolbar',          //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                iconSize: 'outline',
                sortable: true,                     //是否启用排序
                sortName: "fb_type",
                sortOrder: "desc",                  //排序方式
                queryParams: queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页
                pageSize: 15,                       //每页的记录行数（*）
                pageList: [15, 25, 50, 100],        //可供选择的每页的行数（*）
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "f_id",                   //每一行的唯一标识，一般为主键列
                detailView: false,                  //是否显示父子表
                columns: [
                   [
                        {checkbox: true},
                        {
                            title: '序号', width: 55,
                            formatter: function (value, row, index) {
                                var option = $('#atpbiztable').bootstrapTable('getOptions');
                                return option.pageSize * (option.pageNumber - 1) + index + 1;
                            }
                        },
                        {field: 'fb_type', title: '光纤类型', sortable: true, width: 120},
                        {field: 'fb_start', title: '起始点', sortable: true, width: 120},
                        {field: 'fb_end', title: '终点', sortable: true, width: 120},
                        {field: 'fb_sumnum', title: '总芯数', sortable: true, width: 100,
                            formatter: function (value, row, index) {
                                var inp =  value ;
                                var pid = "'" + row.fb_atpid + "'";
                                return '<a  class=""  style="margin:0" onclick="readSub(' + pid+ ')">'+inp+'</a>';                           }

                        },
                        {field: 'fb_usenum', title: '已用芯数', sortable: true, width: 100,
                            formatter: function (value, row, index) {
                                var inp =  value ;
                                var pid = "'" + row.fb_atpid + "'";
                                var type = "'" + 111 + "'";
                                return '<a  class=""  style="margin:0" onclick="readSubAll(' + type + ','+pid+ ')">'+inp+'</a>';                           }
                        },
                        {field: 'fb_remainnum', title: '未使用芯数', sortable: true, width: 100},
                       {field: 'fb_status', title: '状态', sortable: true, width: 100},
                       {field: 'fb_remark', title: '备注', sortable: true, width: 180,editable: {
                           type:'text',
                           title:'备注',
                           mode:'inline',
                           showbuttons:false,
                           onblur:'submit',
                           emptytext:'null',
                           validate:function(v){
                               if(v === null){
                                   return '备注不能为空';
                               }
                           }
                       }},
                        {
                           field: 'fb_atpid',title: '操作', sortable: false,width: 140,
                           formatter: function (value, row, index) {
                               var inp = "'" + value + "'";
                               return '<a  class="btn btn-info btn-xs" onclick="deleteInRow(' + inp + ')" style="margin:0;background: #AB154D;border-color: #AB154D;">删除</a>';                           }
                        }
                   
                   ]
                ],
                onEditableSave: function(field, row, oldValue, $el) {
                    var id = row.fb_atpid;
                    var fb_remark = row.fb_remark;
                    getDataRemark(id,fb_remark);
                },
                onLoadSuccess:function(data){
                     var tabheight = $('.fixed-table-container').height();
                    tabheight = parseInt(tabheight);
                    if(tabheight < (height-searchDivHeight)){
                        $('.fixed-table-container').css('height', 'auto');
                    }else{
                        $('#atpbiztable').bootstrapTable("resetView",{height:height-searchDivHeight});
                    }
                }
            });
        }
    };
    TableObj.oTableInit();

    function queryParams(params) {  //配置参数
        $('#sort').val(params.sort);
        $('#sortOrder').val(params.order);
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            fb_type:$('#fb_type option:selected').val(),
            fb_start:$('#fb_start').val(),
            fb_end:$('#fb_end').val(),
            fb_status:$('#fb_status').val()
        };
        return temp;
    }

    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('destroy');
        TableObj.oTableInit();
    });

    $('#sys_add').on('click',function() {
        updateInRow('');
    });

    $('#sys_del').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            var ids = [];
            $.each(tablerow, function () {
                ids.push(this['fb_atpid']);
            });
            deleteInRow(ids.join(','));
        }
    });

    //数据编辑触发该方法
    function updateInRow(id) {
        layer.open({
            title:'数据编辑',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__CONTROLLER__/add?fb_atpid='+id,
            area: ['80%', '50%']
        });
    }

    //联系方式
    function getDataRemark(id,value) {
        $.ajax({
            url:'__CONTROLLER__/SaveData',
            data:{fb_atpid:id,fb_remark:value},
            type:'post',
            success:function(rep){
                if(rep != 'success'){
                    layer.alert("保存失败")
                }
            }
        })
    }

    //关联芯光纤数据
    function readSub(id) {
        layer.open({
            title:'芯使用情况',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            cancel:function(){$('#atpbiztable').bootstrapTable('refresh');},
            content: '__MODULE__/Subfiber/index?id='+id,
            area: ['95%', '75%']
        });
    }
    //关联芯光纤数据
    function readSubAll(type,id) {
        layer.open({
            title:'芯使用情况',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            cancel:function(){$('#atpbiztable').bootstrapTable('refresh');},
            content: '__MODULE__/Subfiber/index?id='+id+'&type='+type,
            area: ['95%', '75%']
        });
    }
    //数据删除触发该方法
    function deleteInRow(id){
        layer.confirm('确认删除选中数据?',
        {btn:['确定','取消']},
        function(){
            $.ajax({
                type:'post',
                url:'__CONTROLLER__/delData',
                data:{fb_atpid: id},
                dataType :'json',
                success:function(data){
                    if(data.code > 0){
                        layer.msg('操作成功');
                        $('#sys_refresh').click();
                    }else{
                        layer.alert(data.message);
                    }
                },error:function(){
                    layer.alert('出错啦！请稍后再试');
                }
            })
        })
    }
    $('#sys_exp').click(function(){
        $('#loading').modal('show');
        var sort=$('#sort').val();
        var sortOrder=$('#sortOrder').val();
        var t = "__CONTROLLER__/getDataWithExport";
        t = encodeURI(t);
        $.ajax({
            type:'post',
            url: t,
            dataType:'json',
            data:{
                sort:sort,
                sortOrder:sortOrder,
                            fb_type:$('#fb_type option:selected').val(),
            fb_start:$('#fb_start').val(),
            fb_end:$('#fb_end').val(),
                fb_status:$('#fb_status').val()
            },
            success:function(data){
                $('#loading').modal('hide');
                if(data.code > 0){
                    location.href = data.message;
                }else{
                    layer.msg(data.message);
                }
            },error:function(){
                $('#loading').modal('hide');
                layer.alert('出错了！请联系管理员！');
            }
        })
    })

    $('#sys_reset').click(function(){
        $('.form-control').val('');
        $('.chosen-select').val('');
        $('.chosen-select').trigger("chosen:updated");
        $('#sys_refresh').click()
    })
</script>
</html>