<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>物理机-虚拟机对应关系添加编辑</title>
<style>
    .form-group{
        margin-top: 26px;
    }
    .control-label{
        width:150px  !important;
    }
    .must_filter{
        color: red;
    }
    .form-control{
        display:inline-block;
    }
    .col-sm-3{
        width:60%  !important;
    }
    .chosen-container{
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }
    .chosen-container{
        height: 100%;
    }
    .star{
        color:red;
    }
</style>
<body style="margin: 0 auto;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content" style="padding-bottom: 50px;">
        <div class="panel-body">
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>集群 </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pv_pcol" id="pv_pcol" value="<?php if(!empty($data['pv_pcol']))echo $data['pv_pcol']; ?>" >
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>物理机IP  </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pv_pip" id="pv_pip" value="<?php if(!empty($data['pv_pip']))echo $data['pv_pip']; ?>" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>虚拟机IP  </label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pv_vip" id="pv_vip" value="<?php if(!empty($data['pv_vip']))echo $data['pv_vip']; ?>" >
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>虚拟机名称</label>
                    <div class="col-sm-3" >
                        <input type="text" class="form-control" style="width:99%;" name="pv_vname" id="pv_vname" value="<?php if(!empty($data['pv_vname']))echo $data['pv_vname']; ?>">
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div style="width: 50%;float: left">-->
                    <!--<label class=' col-sm-2 control-label'>虚拟机内置服务  </label>-->
                    <!--<div class="col-sm-3" >-->
                        <!--<input type="text" class="form-control" style="width:99%;" name="vc_time" id="vc_time" value="<?php if(!empty($data['vc_time']))echo $data['vc_time']; ?>" onClick="WdatePicker({dateFmt:'H:mm'})">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            </div>
            <input type="hidden" value="<?php if(!empty($data['pv_atpid'])) echo $data['pv_atpid']; ?>" name="pv_atpid" id="pv_atpid">
        </div>
    </div>
</form>
    <if condition="$Objtype eq null">
        <div class="modal-footer" style="margin: 0px;text-align:center;z-index: 999;position: fixed;bottom:0;left:0;font-family: cursive; width: 100%;height: 60px;background-color: #fff;">
            <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block;text-align:center;">保存</button>
            <if condition="$data['cl_atpid'] neq null">
                <button type="button"  id="oplog" class="btn btn-warning" style="margin-left: 30px;">日志</button>
            </if>
        </div>
    </if>
</body>
<script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
<script>
    $(function () {
        layui.use('layer', function() {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function(){
            $('#sys_dlg_form1').submit();
        })

        var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true, width: input_width+'px'});


        $.validator.setDefaults({
            highlight:function(element){
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $('#sys_dlg_form1').validate({
            onclick:false,
            onfocusout:false,
            onkeyup:false,
            submitHandler:function(){

                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData',formBody.serialize(), function (data) {
                    if (data.code > 0) {
//                        parent.$('#sys_refresh').click();
                        parent.$('#atpbiztable').bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                },'JSON');
            }
        });
    });

    //如果验证下拉框必填，请使用该方法
    //    function checkSelectForm(objArr, messageArr){
    //        var len = objArr.length;
    //        for(var i=0;i<len;i++){
    //            var obj = objArr[i];
    //            var val = $('#'+obj).val();
    //            if(!val){
    //                layer.msg('请选择'+messageArr[i]);
    //                $('#'+obj).trigger('chosen:open');
    //                return false;
    //            }
    //        }
    //        return true;
    //    }

</script>