<?php showViewsByPower() ?>
<include file="Universal@Public:header" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/vendor/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

<title>数据库管理添加编辑</title>
<style>
    .form-group{
        margin-top: 26px;
    }
    .control-label{
        width:150px  !important;
    }
    .must_filter{
        color: red;
    }
    .form-control{
        display:inline-block;
    }
    .col-sm-3{
        width:60%  !important;
    }
    .chosen-container{
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }
    .chosen-container{
        height: 100%;
    }
</style>
<body style="margin: 0 auto;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content" style="padding-bottom: 50px;">
        <div class="panel-body">
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>IP地址 <span
                            class="must_filter">*</span></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" style="width:99%;" name="db_ip" id="db_ip" value="<?php if(!empty($data['db_ip']))echo $data['db_ip']; ?>">
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>数据库类型 </label>
                    <div class="col-sm-3">
                        <select name="db_type" id="db_type" class="chosen-select" >
                            <option value=""> </option>
                            <?php foreach($dic_data as $key=>$value){ ?>
                            <option <?php if($data['db_type'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>管理员A岗 </label>
                    <div class="col-sm-3">
                        <select name="db_admin" id="db_admin" class="chosen-select">
                            <option value="<?php echo $data['db_admin'];?>" <?php if(!empty($data['db_admin'])){echo selected;}?>>
                                <?php echo $data['db_adminname'];?>
                            </option>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>管理员B岗 </label>
                    <div class="col-sm-3">
                        <select name="db_adminb" id="db_adminb" class="chosen-select">
                            <option value="<?php echo $data['db_adminb'];?>" <?php if(!empty($data['db_adminb'])){echo selected;}?>>
                                <?php echo $data['db_adminnameb'];?>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>所属班组 </label>
                    <div class="col-sm-3" >
                        <select  name="db_group" id="db_group" class="chosen-select" >
                            <option value=""> 请选择</option>
                            <?php foreach($group as $key=>$value){ ?>
                            <option <?php if($data['db_group'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <label class=' col-sm-2 control-label'>是否巡检</label>
                    <div class="col-sm-3" >
                        <select  name="db_ischeck" id="db_ischeck" class="chosen-select" >
                            <option value="">请选择</option>
                            <?php foreach($ischeck as $key=>$value){ ?>
                            <option <?php if($data['db_ischeck'] == $value['dic_name']) echo 'selected'; ?> value="{$value.dic_name}">{$value.dic_name}</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div style="width: 100%;float: left">
                    <label class=' col-sm-2 control-label'>备注</label>
                    <div class="col-sm-3">
                        <textarea class="form-control" style="width:135%;" name="db_remark" id="db_remark"><?php if(!empty($data['db_remark']))echo $data['db_remark']; ?></textarea>
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" value="<?php if(!empty($data['db_atpid'])) echo $data['db_atpid']; ?>" name="db_atpid">
        <!--<input type="hidden" value="<?php if(!empty($db_type)) echo $db_type; ?>" name="db_type">-->
    </div>
</form>
<div class="modal-footer" style="margin: 0px;text-align:center;z-index: 999;position: fixed;bottom:0;left:0;font-family: cursive; width: 100%;height: 60px;background-color: #fff;">
    <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block;text-align:center;">保存</button>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
<script>
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function () {
            $('#sys_dlg_form1').submit();
        })
        var long_select_width = parseInt($('.form-control').eq(0).css('width').replace('px', '')) * 2.75;
        $('.long-chosen-select').chosen({
            disable_search_threshold: 0,
            search_contains: true,
            width: long_select_width + 'px'
        });

        var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true, width: input_width + 'px'});


        $('#sys_dlg_form1').validate({
            onclick: false,
            onfocusout: false,
            onkeyup: false,
            // 如果是下拉菜单，这里的require是不生效的，需要自己在submitHandle方法中添加验证
            rules: {
                db_ip: 'required'
            },
            messages: {
                db_ip: '请输入IP地址'
            }, submitHandler: function () {
                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData', formBody.serialize(), function (data) {
                    if (data.code > 0) {
                        parent.$('#atpbiztable').bootstrapTable('refresh');
//                        parent.$('#sys_refresh').click();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                }, 'JSON');
            }
        });

        $.validator.setDefaults({
            highlight: function (element) {
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success: function (element) {
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio") || element.is(":checkbox")) {
                    error.appendTo(element.parent());
                } else {
                    error.appendTo(element.parent());
                }
            },
            errorClass: "help-block m-b-none",
            validClass: "help-block m-b-none"
        });

        //管理员A岗
        $('#db_admin').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url: '__MODULE__/org/assignuser'
        }, {
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        //管理员B岗
        $('#db_adminb').ajaxChosen({
            dataType: 'json',
            type: 'post',
            url: '__MODULE__/org/assignuser'
        }, {
            loadingImg: '__PUBLIC__/vendor/chosen-ajax-addition/example/loading.gif'
        });

        $('#sys_dlg_submit').click(function(){
            checkGetIp();

        })

        //如果验证下拉框必填，请使用该方法
            function checkSelectForm(objArr, messageArr) {
                var len = objArr.length;
                for (var i = 0; i < len; i++) {
                    var obj = objArr[i];
                    var val = $('#' + obj).val();
                    if (!val) {
                        layer.msg('请选择' + messageArr[i]);
                        $('#' + obj).trigger('chosen:open');
                        return false;
                    }
                }
                return true;
            }
        //验证IP地址
//        function checkGetIp(){
//            var db_ip=$('#db_ip').val();
//            var reg=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|\d\d|2[0-4]\d|25[0-5])$/;
//            if(reg.test(db_ip)!=true){
//                layer.msg('请输入正确格式的IP地址',{icon:2});
//                return false;
//            }else{
//                return true;
//            }
//        }



    })
</script>