<?php showViewsByPower() ?>
<include file="Admin@Public:header" />
<link href="__PUBLICOLD__/new/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLICOLD__/new/vendor/chosen/chosen.jquery.js"></script>
<link href="__PUBLICOLD__/new/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLICOLD__/new/vendor/chosen/chosen.jquery.js"></script>
<link href="__PUBLICOLD__/new/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLICOLD__/new/vendor/chosen/chosen.jquery.js"></script>
<link href="__PUBLICOLD__/new/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLICOLD__/new/vendor/chosen/chosen.jquery.js"></script>
<link href="__PUBLICOLD__/new/vendor/chosen/chosen.css" rel="stylesheet">
<script src="__PUBLICOLD__/new/vendor/chosen/chosen.jquery.js"></script>

<title>服务器资产管理界面添加编辑</title>
<style>
    .form-group{
        margin-top: 26px;
    }
    .control-label{
        width:150px  !important;
    }
     .must_filter{
        color: red;
    }
    .form-control{
        display:inline-block;
    }
    .col-sm-3{
        width:60%  !important;
    }
    .chosen-container{
        top: -1px;
    }

    .chosen-container .chosen-results {
        max-height: 180px;
    }
     .chosen-container{
        height: 100%;
    }
</style>
<body style="margin: 0 auto;">
<form id="sys_dlg_form1" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="tab-content" >
        <div class="panel-body">
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>服务器名称 <span class="must_filter">*</span></label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="sev_name" id="sev_name" value="<?php if(!empty($data['sev_name']))echo $data['sev_name']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>IP地址 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="sev_ip" id="sev_ip" value="<?php if(!empty($data['sev_ip']))echo $data['sev_ip']; ?>">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>MAC地址 <span class="must_filter">*</span></label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="sev_mac" id="sev_mac" value="<?php if(!empty($data['sev_mac']))echo $data['sev_mac']; ?>">
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>设备类型 </label>
                    <div class="col-sm-3" >
                    <input type="text" class="form-control" style="width:99%;" name="sev_type" id="sev_type" value="<?php if(!empty($data['sev_type']))echo $data['sev_type']; ?>">
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>楼宇 </label>
                    <div class="col-sm-3" >
                    <select  name="sev_belongfloor" id="sev_belongfloor" class="chosen-select" ></select>
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>房间号 </label>
                    <div class="col-sm-3" >
                    <select  name="sev_roomno" id="sev_roomno" class="chosen-select" ></select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>密级 </label>
                    <div class="col-sm-3" >
                    <select  name="sev_secretlevel" id="sev_secretlevel" class="chosen-select" ></select>
                   </div>
                </div>

                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>责任人 </label>
                    <div class="col-sm-3" >
                    <select  name="sev_dutyman" id="sev_dutyman" class="chosen-select" ></select>
                   </div>
                </div>

           </div>
           <div class="form-group">
                <div style="width: 50%;float: left">
                 <label class=' col-sm-2 control-label'>使用人 </label>
                    <div class="col-sm-3" >
                    <select  name="sev_useman" id="sev_useman" class="chosen-select" ></select>
                   </div>
                </div>

            </div>
        <input type="hidden" value="<?php if(!empty($data['sev_atpid'])) echo $data['sev_atpid']; ?>" name="sev_atpid">
       </div>
    </form>
<div class="modal-footer" style="margin-top: 73px;text-align: center;position: absolute;bottom: 50px;width: 100%;">
    <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="display:inline-block">保存</button>
</div>
</body>
<script type="text/javascript" src="__PUBLICOLD__/new/vendor/ie8/jquery.form.js"></script>
<script src="__PUBLICOLD__/new/vendor/validate/jquery.validate.min.js"></script>
<script>
    $(function () {
        layui.use('layer', function() {
            layer = layui.layer;
        })
        $('#sys_dlg_submit').click(function(){
            $('#sys_dlg_form1').submit();
        })
                var input_width = parseInt($('.form-control').eq(0).css('width').replace('px', ''));
        $('.chosen-select').chosen({disable_search_threshold: 0, search_contains: true, width: input_width+'px'});

        $.validator.setDefaults({
            highlight:function(element){
                $(element).parent().remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).parent().remove('has-error').addClass('has-success');
            },
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $('#sys_dlg_form1').validate({
            onclick:false,
            onfocusout:false,
            onkeyup:false,
            // 如果是下拉菜单，这里的require是不生效的，需要自己在submitHandle方法中添加验证
            rules:{
                sev_name:'required',sev_mac:'required'
            },
            messages:{
                sev_name:'请输入服务器名称',sev_mac:'请输入MAC地址'
            },submitHandler:function(){
                var formBody = $('#sys_dlg_form1');
                $.post('__CONTROLLER__/addData',formBody.serialize(), function (data) {
                    if (data.code > 0) {
                        parent.$('#atpbiztable').bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        layer.alert(data.message);
                    }
                },'JSON');
            }
        });
    });
    //如果验证下拉框必填，请使用该方法
//    function checkSelectForm(objArr, messageArr){
//        var len = objArr.length;
//        for(var i=0;i<len;i++){
//            var obj = objArr[i];
//            var val = $('#'+obj).val();
//            if(!val){
//                layer.msg('请选择'+messageArr[i]);
//                $('#'+obj).trigger('chosen:open');
//                return false;
//            }
//        }
//        return true;
//    }
</script>