<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">编辑</h4>
        </div>
        <form id="sys_dlg_form" role="form">
        <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel-body">
                                        <div class="heng">
                                            <div class="form-group_l">
                                                <label>编号</label>
                                                <input id="smdj_code" name="smdj_code" type="text" value="{$data.smdj_code}" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>名称</label>
                                                <input id="smdj_name" name="smdj_name" type="text" value="{$data.smdj_name}" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>厂家</label>
                                                <input id="smdj_factory" name="smdj_factory" type="text" value="{$data.smdj_factory}" class="form-control">
                                            </div>
                                            <div class="form-group_r">
                                                <label>型号</label>
                                                <input id="smdj_model" name="smdj_model" type="text" value="{$data.smdj_model}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="heng">
                                            <div class="form-group_l">
                                                <label>密级</label>
                                                <select name="smdj_secret" id="smdj_secret" class="form-control" style="margin-bottom: -5px;width:65%;">
                                                    <option value=''>--请选择--</option>
                                                    <foreach name="ds_miji" item="vo">
                                                        <option value="{$vo.d_dictname}" <if condition="($data.smdj_secret eq $vo['d_dictname'])">selected="selected"</if>>{$vo.d_dictname}</option>
                                                    </foreach>
                                                </select>
                                            </div>
                                            <div class="form-group_l">
                                                <label>用途</label>
                                                <input id="smdj_usage" name="smdj_usage" type="text" value="{$data.smdj_usage}" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>所属部门</label>
                                                <input id="smdj_dept" name="smdj_dept" type="text" value="{$data.smdj_dept}" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>放置地点</label>
                                                <input id="smdj_didian" name="smdj_didian" type="text" value="{$data.smdj_didian}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="heng">
                                            <div class="form-group_r">
                                                <label>责任人</label>
                                                <input id="smdj_dutyman" name="smdj_dutyman" type="text" value="{$data.smdj_dutyman}" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>使用情况</label>
                                                <input id="smdj_status" name="smdj_status" type="text" value="{$data.smdj_status}" class="form-control">
                                            </div>
                                            <div class="form-group_l">
                                                <label>其他说明</label>
                                                <input id="smdj_ps" name="smdj_ps" type="text" value="{$data.smdj_ps}" class="form-control">
                                            </div>
                                            <div class="form-group_r">
                                                <label>区域名</label>
                                                <input id="smdj_area" name="smdj_area" type="text" value="{$data.smdj_area}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="heng">
                                <div class="form-group_r">
                                    <label>设备序列号</label>
                                    <input id="smdj_sn" name="smdj_sn" type="text" value="{$data.smdj_sn}" class="form-control">
                                </div>
                                <div class="form-group_l">
                                    <label>启用时间</label>
                                    <input id="smdj_qiyong" name="smdj_qiyong" type="text" value="{$data.smdj_qiyong}" class="form-control">
                                </div>
                                <div class="form-group_l">
                                    <label>操作系统安装日期</label>
                                    <input id="smdj_osdate" name="smdj_osdate" type="text" value="{$data.smdj_osdate}" class="form-control">
                                </div>
                                <div class="form-group_l">
                                    <label>硬盘序列号</label>
                                    <input id="smdj_disknum" name="smdj_disknum" type="text" value="{$data.smdj_disknum}" class="form-control">
                                </div>

                            </div>
                                        <input id="smdj_atpid" name="smdj_atpid" type="hidden" value="{$data.smdj_atpid}" class="form-control">
                        </div>
                    </div>
                </div>

        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
            <input type="submit" id="sys_dlg_submit" value="保存" class="btn btn-primary" />
            <!--<button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary">保存</button>-->
        </div>
        </form>
    </div>
</div>

<!--<link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLICOLD__/vendor/tabs/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">-->
<!--<link href="__PUBLICOLD__/vendor/tabs/css/font-awesome.css?v=4.4.0" rel="stylesheet">-->
<!--<link href="__PUBLICOLD__/vendor/tabs/css/animate.css" rel="stylesheet">-->
<!--<link href="__PUBLICOLD__/vendor/tabs/css/style.css?v=4.0.0" rel="stylesheet"> -->
<style type="text/css">
    .modal-dialog{width: 94%;height: 80%;}
    .col-sm-6{width:100%;}
    .heng{width:100%;height: 50px;}
    .form-group_heng{width:100%;height: 50px;}
    .form-group_l{width:25%;float: left;}
    .form-group_r{width:25%;float: left;}
    .form-group_r label{width:25%;float: left;margin-top: 7px;}
    .form-group_l label{width:25%;float: left;margin-top: 7px;}
    /*.heng div label{width:20%;float: left;margin-top: 7px;}*/
    .form-control{width:65%;}
    .form-group_21{width:33.3%;float:left;}
    .form-group_22{width:33.3%;float:left;}
    .form-group_23{width:33.3%;float:left;}
    .fengetitle{height: 40px;margin-bottom: 10px;font-size: 20px;font-family: 微软雅黑;text-align: center;line-height: 40px;width: 60%;margin-left: 20%;border-bottom: 1px solid #cdcdcd;}
</style>

<script type="text/javascript">
    $(document).ready(function(e){

        $.validator.setDefaults({
            highlight:function(element){
                $(element).closest('.form-group').remove('has-success').addClass('has-error');
            },
            success:function(element){
                $(element).closest('.form-group').remove('has-error').addClass('has-success');
            },
            errorElement:'span',
            errorPlacement:function(error,element){
                if(element.is(":radio") || element.is(":checkbox")){
                    error.appendTo(element.parent().parent().parent());
                }else{
                    error.appendTo(element.parent());
                }
            },
            errorClass:"help-block m-b-none",
            validClass:"help-block m-b-none"
        });
        $("#sys_dlg_form").validate({
            rules :{
                smdj_name :"required"
            },
            messages:{
                smdj_name : "必填"
            },
            submitHandler:function(){
                var formBody = $('#sys_dlg_form');
                $.post('__CONTROLLER__/submit',formBody.serialize(), function(data) {
                    if("success" == data) {
                        $("#sys_dlg").modal("hide");
                        $('#atpbiztable').bootstrapTable("refresh");
                    }else {
                        alert('保存失败');
                    }
                });
            }

        });


    });
</script>
