<include file="Universal@Public:header" />
<title>会议基线</title>
<style>
    .layui-tab-content {
        padding-bottom: 0 !important;
        padding-top: 0;
    }

    input, textarea, select {
        margin-bottom: 8px;
    }
    .layui-tab {
        margin-bottom: 0 !important;
        margin-top: 0;
    }
    #layui-title li {
        width: 12%;
        /*font-family: 'Microsoft YaHei';*/
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .layui-tab-item>iframe{
        width: 100%;box-sizing:border-box;overflow:hidden;border: none;
    }
    .modal-body {
        padding: 3px !important;
    }
</style>
<body>
<div style="overflow: hidden">
    <div class="modal-body" style="overflow: hidden">
        <div class="layui-tab layui-tab-brief" lay-filter="demo">
            <ul class="layui-tab-title" id="layui-title" >
                <?php $count = 0; ?>
                <?php foreach($powers as $menuName=>$menuPath){ ?>
                    <li class="<?php if($count==0){echo 'layui-this';} ?> layui-tab-item tab" url="__APP__/{$menuPath}">{$menuName}</li>
                <?php $count++; ?>
                <?php } ?>
                <!--<li class="layui-tab-item tab" url="__CONTROLLER__/tijiao">院级待办事项提交</li>-->
                <!--<li class="layui-tab-item tab" url="__CONTROLLER__/confirm">院级待办事项确认</li>-->
                <!--<li class="layui-tab-item tab"  url="__CONTROLLER__/rogatory" >院级待办事项查询</li>-->
            </ul>
            <div class="layui-tab-content" id="layui-content">
                <div lay-id="1" class="layui-tab-item">
                    <iframe  id="framecontent" url="" style="" src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {

//        var views = [];
//        var tabLength = $('.tab').length;
//        for(var i = 0; i<tabLength; i++){
//            var url = $('.tab').eq(i).attr('url');
//            var splitUrl = url.split('index.php');
//            views.push(splitUrl[1].toLowerCase());
//        }
//        var viewPowers = '<?php echo json_encode(cookie("operate_view")); ?>';
//        for(var i = 0; i<tabLength; i++){
//            if( viewPowers.indexOf(views[i]) < 0){
//                $('.tab').eq(i).parent().remove();
//            }
//        }


        layui.use('layer', function () {
            layer = layui.layer;
            if($('.tab').length ==0) {
                layer.alert('您在本页面中没有任何操作权限！');
                return ;
            }
        })
        layui.use('element', function () {
            var element = layui.element();
            element.on('tab(demo)', function (data) {
            });
        })

        var ifm = $('iframe');
//        var height = document.documentElement.clientHeight -60;
        var height = $(window).height();
//        alert(height);
        var iframeHeigth = height-50;
        ifm.css('height', iframeHeigth+'px');
        //判断先展示那个div
        var show_div = "<?php echo I('get.show_div',0,'intval'); ?>";
        var content_obj = $('#layui-content').children();
        var title_obj = $('#layui-title').children();
        if (show_div != 0) {
            var index = show_div -1;
            ifm.eq(index).attr('src',$('.tab').eq(index).attr('url'));
            content_obj.eq(index).addClass('layui-show').siblings().removeClass('layui-show');
            title_obj.eq(index).addClass('layui-this').siblings().removeClass('layui-this');
        } else {
            content_obj.eq(0).addClass('layui-show');
            ifm.eq(0).attr('src',$('.tab').eq(0).attr('url'));
            title_obj.eq(0).addClass('layui-this');
        }

        $('.tab').click(function(){
            var iframeLink = $(this).attr('url');
            ifm.attr('src',iframeLink);
        })
    });

</script>